@font-face {
  font-family: "Poppins Bold";
  src: url("../fonts/poppins/poppins-bold-webfont.eot");
  src: url("../fonts/poppins/poppins-bold-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/poppins/poppins-bold-webfont.woff2") format("woff2"),
    url("../fonts/poppins/poppins-bold-webfont.woff") format("woff"),
    url("../fonts/poppins/poppins-bold-webfont.svg#poppinsbold") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins Light";
  src: url("../fonts/poppins/poppins-light-webfont.eot");
  src: url("../fonts/poppins/poppins-light-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/poppins/poppins-light-webfont.woff2") format("woff2"),
    url("../fonts/poppins/poppins-light-webfont.woff") format("woff"),
    url("../fonts/poppins/poppins-light-webfont.svg#poppinslight") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins Medium";
  src: url("../fonts/poppins/poppins-medium-webfont.eot");
  src: url("../fonts/poppins/poppins-medium-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/poppins/poppins-medium-webfont.woff2") format("woff2"),
    url("../fonts/poppins/poppins-medium-webfont.woff") format("woff"),
    url("../fonts/poppins/poppins-medium-webfont.svg#poppinsmedium")
      format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/poppins/poppins-regular-webfont.eot");
  src: url("../fonts/poppins/poppins-regular-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/poppins/poppins-regular-webfont.woff2") format("woff2"),
    url("../fonts/poppins/poppins-regular-webfont.woff") format("woff"),
    url("../fonts/poppins/poppins-regular-webfont.svg#poppinsregular")
      format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins Semi Bold";
  src: url("../fonts/poppins/poppins-semibold-webfont.eot");
  src: url("../fonts/poppins/poppins-semibold-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/poppins/poppins-semibold-webfont.woff2") format("woff2"),
    url("../fonts/poppins/poppins-semibold-webfont.woff") format("woff"),
    url("../fonts/poppins/poppins-semibold-webfont.svg#poppinssemibold")
      format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Luckiest Guy";
  src: local("Luckiest Guy"), local("LuckiestGuy-Regular"),
    url("../fonts/LuckiestGuy-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "LoveYaLikeASister";
  src: local("LoveYaLikeASister"), local("LoveYaLikeASister-Regular"),
    url("../fonts/LoveYaLikeASister-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
:root {
  --FONT-FAMILY-serif: "Luckiest Guy", cursive, Georgia, Times, serif;
  --FONT-FAMILY-sans-serif: "Poppins", Georgia, "Times New Roman", Times, serif;
  --BLANC-color: #f4f2f1;
  --BLANC-TRANSPARENT-COLOR: rgba(244, 242, 241, 0.8);
  --NOIR-color: #201e18;
  --NOIR-TRANSPARENT-color: rgba(27, 30, 26, 0.9);
  --GRIS-color: #525252;
  --GRIS-LIGHT-color: #e0e0e0;
  --GRIS-TRANSPARENT-color: rgba(87, 87, 87, 0.9);

  --BODY-color: #FEF3EB;
  --PECHE-color: #fddac4;
  --JAUNE-color: #ffa500;
  --PARME-color: #CCB5E3;
  --VIOLET-color: #5e3488;
  --POUDRE-color: #fcc3f0;
  --ROSE-color: #ef5db8;
  --ROSE-color: #EB3FAD;
  --FUSCHIA-color: #a7116f;
  --VERT-AMANDE-color: #CEE78B;
  --VERT-CITRON-color: #81ad15;
  --VERT-GAZON-color: #3e742f;
  --CIEL-color: #C1D8FF;
  --BLEU-color: #0F51C2;
  --MARINE-color: #0C2E66;

  --FOOTER-color: var(--VERT-CITRON-color);
  --FOOTER-PIED-color: var(--VERT-GAZON-color);

  --HEADER-background-color: var(--JAUNE-color);
  --HEADER-TRANSPARENT-background-color: var(--GRIS-TRANSPARENT-color);
  --HEADER-SOUS-MENU-LINK-color: #575757;
  --HEADER-SOUS-MENU-LINK-HOVER-color: var(--POUDRE-color);
  --HEADER-SHADOW: 0 0.5rem 1rem #757575 !important;
  --HEADER-height: 5em;
  --ARIANE-background-color: var(--PECHE-color);
  --ARIANE-TEXT-color: var(--NOIR-color);
  --SVG-MAIN-filter: invert(19%) sepia(18%) saturate(2512%) hue-rotate(87deg)
    brightness(95%) contrast(93%);
  --SVG-SECOND-filter: invert(10%) sepia(96%) saturate(4963%) hue-rotate(154deg)
    brightness(94%) contrast(87%);
  --SVG-NOIR-filter: invert(12%) sepia(4%) saturate(0%) hue-rotate(241deg)
    brightness(96%) contrast(96%);
  --SVG-BLANC-filter: invert(99%) sepia(2%) saturate(3887%) hue-rotate(297deg)
    brightness(107%) contrast(88%);
  --SHADOW-sm: 0 0.125rem 0.25rem var(--GRIS-TRANSPARENT-color) !important;
  --SHADOW: 0 0.5rem 1rem var(--GRIS-TRANSPARENT-color) !important;
  --SHADOW-lg: 0 1rem 3rem var(--GRIS-color) !important;
  --SHADOW-GRIS: 0 0.125rem 0.25rem var(--GRIS-color) !important;
  --MARGIN-x: 10%;
  --MARGIN-cadratin: 1em;
  --MARGIN-negatif-cadratin: -1em;
  --CARD-width: 277px;
  --CARD-height: 200px;
}
.border {
  border: 1px solid red;
}
* {
  margin: 0;
  padding: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  scroll-padding-top: 100px;
  scroll-behavior: smooth;
}
main,
footer,
header {
  display: block;
}
@media (min-width: 78em) {
  .container {
    max-width: 78rem;
    margin: 0 auto;;
  }
}
.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
body {
  background-color: var(--BODY-color);
  color: var(--NOIR-color);
  font-family: var(--FONT-FAMILY-sans-serif);
  font-size: 1em;
  line-height: 1.5;
}
a {
  color: var(--FUSCHIA-color);
  text-decoration: none;
  transition: 0.5s;
  font-family: var(--FONT-FAMILY-sans-serif);
}
a:hover,
a:active,
a:focus {
  color: var(--MAIN-color);
  outline: none;
  text-decoration: underline;
}
a:hover i,
a:focus i {
  color: var(--GRIS-color);
}
a[target="_blank"]:not(.nologo)::after {
  font-family: "FontAwesome";
  content: "\f08e";
  font-size: 90%;
  padding-left: 0.25em;
}
p {
  line-height: 1.5;
  margin-bottom: 1em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--FONT-FAMILY-serif);
  font-weight: 700;
  margin: 1em 0 0.5em;
  color: #5e3488;
  letter-spacing: 0.1em;
}
h1 {
  font-size: 5em;
  text-align: center;
}
h2 {
  font-size: 3em;
  margin: 3rem 0 2rem 0;
  text-align: center;
}
h3 {
  font-size: 1.5em;
}
h3 sup {
  font-family: var(--FONT-FAMILY-sans-serif);
  font-size: 0.5em;
}
h4 {
  font-family: var(--FONT-FAMILY-sans-serif);
  font-size: 1.25em;
}
i[class^="fa"] {
  padding-right: 0.5em;
}
.mt-0 {
  margin-top: 0;
}
.mt-1 {
  margin-top: 1.5em;
}
.mt-2 {
  margin-top: 2em;
}
.mt-5 {
  margin-top: 5em;
}
.my-2 {
  margin-top: 2em;
  margin-bottom: 2em;
}
.my-3 {
  margin-top: 3em;
  margin-bottom: 3em;
}
.my-5 {
  margin-top: 5em;
  margin-bottom: 5em;
}
.mt-3 {
  margin-top: 3em;
}
.mb-2 {
  margin-bottom: 2em;
}
.pl-2 {
  padding-left: 2em;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left !important;
}
.bloc-center .flexBoutons {
  justify-content: center;
}
.text-schema img {
  width: 100%;
}
.pt-2 {
  padding-top: 2em;
}
.pt-3 {
  padding-top: 3em;
}
.pl-1 {
  padding-left: 1em;
}
.pl-2 {
  padding-left: 2em;
}
.pl-3 {
  padding-left: 3em;
}
.handscript {
  font-family: var(--FONT-FAMILY-serif);
  font-size: 2em;
  letter-spacing: 0.1em;
}
.container {
  margin: 0 var(--MARGIN-x);
}
.shadow {
  box-shadow: 0 1rem 3rem var(--GRIS-TRANSPARENT-color) !important;
}
section {
  padding: 3em 0;
}
.w-50p {
  width: 50%;
  margin: 0 auto;
}
.lead {
  font-size: 150%;
}
.big {
  font-size: 200%;
}
.temoignages {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-around;
  gap: 5rem;
  min-height: 640px;
  background: url('../images/pixel-etoiles.png') no-repeat 50% 70%;
}
blockquote {
  margin: 0 0 2rem 0;
  display: inline-block;
  position: relative;
  width: auto;
  height: auto;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  box-shadow: var(--SHADOW);
}
.temoin {
  display: flex;
  flex-direction: column;
}
.temoin:nth-of-type(1) blockquote,
.temoin:nth-of-type(5) blockquote {
  max-width: 250px;
}
.temoin:nth-child(2) blockquote,
.temoin:nth-of-type(6) blockquote {
  max-width: 450px;
}
.temoin:nth-child(3) blockquote,
.temoin:nth-of-type(4) blockquote {
  max-width: 350px;
}
blockquote::before {
  content: " ";
  position: absolute;
  width: 0;
  height: 0;
  bottom: -40px;
  border: 1rem solid;
}
blockquote.gauche::before {
  left: 30px;
  right: auto;
  top: auto;
}
blockquote.droite::before {
  left: auto;
  right: 30px;
}
blockquote::after {
  content: " ";
  position: absolute;
  width: 0;
  height: 0;
  bottom: -20px;
  border: 12px solid;
}

blockquote.gauche::after {
  left: 38px;
  right: auto;
  top: auto;
  border-color: var(--VERT-AMANDE-color) transparent transparent var(--VERT-AMANDE-color);
}
blockquote.droite::after {
  left: auto;
  right: 38px;
  border-color: var(--VERT-AMANDE-color) var(--VERT-AMANDE-color) transparent transparent;
}

.vert blockquote {
  background-color: var(--VERT-AMANDE-color);
  border: 8px solid var(--VERT-CITRON-color);
}
.vert blockquote.gauche::before {
  border-color: var(--VERT-CITRON-color) transparent transparent var(--VERT-CITRON-color);
}
.vert blockquote.droite::before {
  border-color: var(--VERT-CITRON-color) var(--VERT-CITRON-color) transparent transparent;
}
.vert blockquote.gauche::after {
  border-color: var(--VERT-AMANDE-color) transparent transparent var(--VERT-AMANDE-color);
}
.vert blockquote.droite::after {
  border-color: var(--VERT-AMANDE-color) var(--VERT-AMANDE-color) transparent transparent;
}

.rose blockquote {
  background-color: var(--POUDRE-color);
  border: 8px solid var(--ROSE-color);
}
.rose blockquote.gauche::before {
  border-color: var(--ROSE-color) transparent transparent var(--ROSE-color);
}
.rose blockquote.droite::before {
  border-color: var(--ROSE-color) var(--ROSE-color) transparent transparent;
}
.rose blockquote.gauche::after {
  border-color: var(--POUDRE-color) transparent transparent var(--POUDRE-color);
}
.rose blockquote.droite::after {
  border-color: var(--POUDRE-color) var(--POUDRE-color) transparent transparent;
}
.jaune blockquote {
  background-color: var(--PECHE-color);
  border: 8px solid var(--JAUNE-color);
}
.jaune blockquote.gauche::before {
  border-color: var(--JAUNE-color) transparent transparent var(--JAUNE-color);
}
.jaune blockquote.droite::before {
  border-color: var(--JAUNE-color) var(--JAUNE-color) transparent transparent;
}
.jaune blockquote.gauche::after {
  border-color: var(--PECHE-color) transparent transparent var(--PECHE-color);
}
.jaune blockquote.droite::after {
  border-color: var(--PECHE-color) var(--PECHE-color) transparent transparent;
}

.bleu blockquote {
  background-color: var(--CIEL-color);
  border: 8px solid var(--BLEU-color);
}
.bleu blockquote.gauche::before {
  border-color: var(--BLEU-color) transparent transparent var(--BLEU-color);
}
.bleu blockquote.droite::before {
  border-color: var(--BLEU-color) var(--BLEU-color) transparent transparent;
}
.bleu blockquote.gauche::after {
  border-color: var(--CIEL-color) transparent transparent var(--CIEL-color);
}
.bleu blockquote.droite::after {
  border-color: var(--CIEL-color) var(--CIEL-color) transparent transparent;
}

.violet  blockquote {
  background-color: var(--PARME-color);
  border: 8px solid var(--VIOLET-color);
}
.violet blockquote.gauche::before {
  border-color: var(--PARME-color) transparent transparent var(--PARME-color);
}
.violet blockquote.droite::before {
  border-color: var(--VIOLET-color) var(--VIOLET-color) transparent transparent;
}
.violet blockquote.gauche::after {
  border-color: var(--VIOLET-color) transparent transparent var(--VIOLET-color);
}
.violet blockquote.droite::after {
  border-color: var(--PARME-color) var(--PARME-color) transparent transparent;
}

blockquote p {
  padding: 0.5rem 0.5rem 0 0.5rem;
  text-align: center;
  font-style: italic;
  color: var(--NOIR-color)rgba(0, 0, 0, 0.1);
}
blockquote + cite {
  display: block;
  font-style: normal;
  font-size: 1.25rem;
  font-family: var(--FONT-FAMILY-serif);
  color: var(--GRIS-color);
}

blockquote.droite + cite {
  text-align: right;
}

.border-top {
  border-top: 1px dotted var(--MAIN-FONCE-color);
}
.dl-col {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.dl-col dt {
  flex: 0 0 20%;
  text-align: right;
  padding-right: 0.5em;
  font-weight: 700;
}
.dl-col dd {
  flex: 0 0 78%;
}
dt {
  font-weight: 700;
}
hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    transparent,
    rgba(0, 0, 0, 0.75),
    transparent
  );
  margin: 2em 0 1em;
}
.no-border {
  border: 0 !important;
}
.enligne {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.enligne.center {
  justify-content: center;
}
.enligne li {
  padding-right: 0.5em;
}
.enligne li::before {
  content: "";
}
.chapo {
  background-color: var(--PECHE-color);
  margin: 2em 0;
  padding: 2em;
  border-radius: 0.25em;
}
.chapo ul:first-of-type.enligne {
  margin-bottom: 3em;
}
.chapo .enligne li {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-weight: 700;
}
.chapo .enligne li i {
  font-size: 3em;
  color: var(--MAIN-color);
  padding-bottom: 0.5em;
}
span[class*="fa-"] {
  padding-right: 0.5em;
}
figure {
  width: 40%;
  background-color: var(--MAIN-color);
  box-shadow: var(--SHADOW-sm);
}
figure img {
  width: 100%;
  height: auto;
}
figcaption h4 {
  margin: 0;
  padding: 0 0 0.25em 0.5em;
  color: var(BLANC);
  font-size: 1em;
  font-weight: 400;
}
figure.gauche {
  float: left;
  margin-right: 0.5em;
}
figure.gauche > p {
  float: left;
}
figure.droite {
  float: right;
  margin-left: 0.5em;
}
figure.droite > p {
  float: left;
}
article:not(:first-of-type) {
  margin-top: 2em;
}
.float-left {
  float: left;
}
#erreur {
  text-align: center;
  font-weight: 700;
}
#erreur.lead {
  margin: 0 var(--MARGIN-x) 1em;
  padding-bottom: 0;
}
a#RetourEnHaut {
  border-radius: 50%;
  padding: 0.25em 0.5em;
  font-size: 1.25em;
  text-align: center;
  color: var(--BLANC-color);
  background: var(--VIOLET-color);
  border: 1px solid var(--BLANC-color);
  position: fixed;
  right: 1.5em;
  opacity: 1;
  z-index: 99999;
  transition: all ease-in 0.2s;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  text-decoration: none;
}
a#RetourEnHaut:hover,
a#RetourEnHaut:focus {
  background: var(--VIOLET-color);
  right: 1em;
  font-size: 1.5em;
  transition: all ease-in 0.2s;
  outline: 3px solid var(--VIOLET-color);
}
a#RetourEnHaut.cInvisible {
  bottom: -2.5em;
  opacity: 0;
  transition: all ease-in 0.5s;
}
a#RetourEnHaut.cVisible {
  bottom: 2.5em;
  opacity: 1;
}
div.evitement {
  display: inline-block;
  background-color: var(--LAVANDE-SWEET-color) !important;
  padding: 0.5em;
  position: absolute;
  left: -99999px;
  z-index: 2033;
}
div.evitement:focus-within {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
}
div.evitement:focus-within nav {
  position: relative;
  z-index: 2035;
}
div.evitement ul {
  list-style: none;
  display: flex;
}
div.evitement ul li {
  padding-right: 1em;
}
div.evitement ul a {
  color: var(--NOIR-color) !important;
  text-decoration: underline;
  padding: 0.25em;
}
div.evitement ul a:focus {
  outline: 3px solid var(--HARMONIE-DARK-color);
}
.hit-the-floor {
  color: var(--BLANC-color);
  font-size: 12em;
  font-weight: 700;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9,
    0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1),
    0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2),
    0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2),
    0 20px 20px rgba(0, 0, 0, 0.15);
  text-align: center;
}
.text-border-dark {
  font-weight: 700;
  text-shadow: 2px 0 0 #20241f, 0 2px 0 #20241f, 0 -2px 0 #20241f,
    -2px 0 0 #20241f, 2px 2px 0 #20241f, 2px -2px 0 #20241f, -2px 2px 0 #20241f,
    -2px -2px 0 #20241f;
  text-align: center;
}
.text-border-white {
  font-weight: 700;
  text-shadow: 2px 0 0 #f7f7f7, 0 2px 0 #f7f7f7, 0 -2px 0 #f7f7f7,
    -2px 0 0 #f7f7f7, 2px 2px 0 #f7f7f7, 2px -2px 0 #f7f7f7, -2px 2px 0 #f7f7f7,
    -2px -2px 0 #f7f7f7;
  text-align: center;
}
.text-border-white-thin {
  font-weight: 700;
  text-shadow: 1px 0 0 #f7f7f7, 0 1px 0 #f7f7f7, 0 -1px 0 #f7f7f7,
    -1px 0 0 #f7f7f7, 1px 1px 0 #f7f7f7, 1px -1px 0 #f7f7f7, -1px 1px 0 #f7f7f7,
    -1px -1px 0 #f7f7f7;
  text-align: center;
}
.text-border-main {
  font-weight: 700;
  text-shadow: 5px 0 0 var(--GRIS-color), 0 5px 0 var(--GRIS-color),
    0 -2px 0 var(--GRIS-color), -2px 0 0 var(--GRIS-color),
    2px 2px 0 var(--GRIS-color), 2px -2px 0 var(--GRIS-color),
    -2px 2px 0 var(--GRIS-color), -2px -2px 0 var(--GRIS-color);
  text-align: center;
}
.text-border-main-thin {
  font-weight: 700;
  text-shadow: 3px 0 0 var(--GRIS-color), 0 3px 0 var(--GRIS-color),
    0 -2px 0 var(--GRIS-color), -2px 0 0 var(--GRIS-color),
    2px 2px 0 var(--GRIS-color), 2px -2px 0 var(--GRIS-color),
    -2px 2px 0 var(--GRIS-color), -2px -2px 0 var(--GRIS-color);
  text-align: center;
}
.text-border-rose {
  font-weight: 700;
  text-shadow: 5px 0 0 var(--VIOLET-color), 0 5px 0 var(--VIOLET-color),
    0 -2px 0 var(--VIOLET-color), -2px 0 0 var(--VIOLET-color),
    2px 2px 0 var(--VIOLET-color), 2px -2px 0 var(--VIOLET-color),
    -2px 2px 0 var(--VIOLET-color), -2px -2px 0 var(--VIOLET-color);
  text-align: center;
}
.flexGite {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-content: center;
  gap: 1em;
}
.flexGite div.textGite {
  max-width: 600px;
}
.textGite h3 {
  margin-top: 0;
}
.grid2col {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
}
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1em;
}
.flex-middle {
  align-content: center;
}
.flex-strech {
  align-content: stretch;
}
.flex-items-top {
  align-items: flex-start;
}
.flex-start {
  justify-content: flex-start !important;
}
.flex.flex-centrer {
  justify-content: center;
}
.flex.flex-centrer div {
  text-align: center;
}
.flex h2 {
  padding-top: 0;
}
.img-fluid {
  width: 100%;
  height: 100%;
}
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}
.flex .col-30 {
  flex: 0 0 30%;
}
.flex .col-70 {
  flex: 0 0 70%;
}
.flex .col-25 {
  flex: 0 0 25%;
}
.flex .col-75 {
  flex: 0 0 75%;
}
.flex .col-20 {
  flex: 0 0 20%;
}
.flex .col-80 {
  flex: 0 0 80%;
}
.flex .col-40 {
  flex: 0 0 40%;
}
.flex .col-60 {
  flex: 0 0 60%;
}
.flex .col-33 {
  flex: 0 0 33.3333333333%;
}
.flex .col-45 {
  flex: 0 0 45%;
}
.flex .col-50 {
  flex: 0 0 50%;
}
.flex .col-100 {
  flex: 0 0 100%;
}
.flex > [class*="col-"] h2,
.flex > [class*="col-"] h3 {
  margin-top: 0;
}
.flex.flex-etirer {
  align-items: stretch;
}
.flex.flex-center {
  justify-content: center;
}
.flex.flex-align-centrer {
  align-content: center;
}
.flex.flex-debut {
  justify-content: flex-start !important;
}
.flex.flex-fin {
  justify-content: flex-end !important;
}
.flexBoutons {
  border-top: 1px dotted var(--MAIN-color);
  padding-top: 1.5em;
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}
main ul.flexBoutons li::before {
  content: "";
}
a.btn {
  display: inline-block;
  background-color: var(--ROSE-color);
  margin: 1rem auto;
  padding: 0.15em 0.5em;
  color: var(--NOIR-color) !important;
  font-size: 1.15rem;
  letter-spacing: 0.6px;
  outline: none;
  border-radius: 355px 45px 225px 75px/15px 225px 15px 255px;
  border: solid 7px;
  border-top-color: currentcolor;
  border-right-color: currentcolor;
  border-bottom-color: currentcolor;
  border-left-color: currentcolor;
  text-transform: uppercase;
  transition: 0.3s;
  margin-bottom: 2rem;
}
a.btn:hover,
a.btn:focus,
button.btn:hover,
button.btn:focus {
  background: var(--FUSCHIA-color);
  color: var(--BLANC-color) !important;
  outline: 3px solid var(--PARME-color);
  text-decoration: none;
}
button.btn-outline,
a.btn-outline {
  margin-top: 1em;
  background: var(--PECHE-color);
  color: var(--MAIN-color);
  border: 1px solid var(--MAIN-color);
  border-radius: 0.05em;
  padding: 0.75em 0.5em 0.5em;
  font-family: var(--FONT-FAMILY-sans-serif);
  cursor: pointer;
  font-size: 1em;
  margin-bottom: 1.5em;
}
a.btn-outline:hover,
a.btn-outline:focus,
button.btn-outline:hover,
button.btn-outline:focus {
  background: var(--MAIN-color);
  color: var(--PECHE-color);
  outline: 3px solid var(--MAIN-color);
  text-decoration: none;
}
button.btn-outline.blanc {
  background-color: var(--MAIN-color);
  border: 1px solid var(--BLANC-color);
  color: var(--BLANC-color);
  font-size: 1em;
}
button.btn-outline.blanc:focus,
button.btn-outline.blanc:hover {
  outline: 3px solid var(--FUSCHIA-color);
  border: 1px solid var(--FUSCHIA-color);
  color: var(--FUSCHIA-color);
}
.plus::after {
     --icon-size:1rem;
     background-color:currentColor;
     display:inline-block;
     flex:none;
     height:var(--icon-size);
     mask-size:100% 100%;
     vertical-align:calc(.375em - var(--icon-size) * .5);
     width:var(--icon-size);
     content:"";
     margin-left:.5rem;
     margin-right:-.125rem;
    mask-image: url('../images/arrow-right-long-solid.svg');
    } 

.fleche::after {
  --icon-size: 1.5rem;
  background-color: currentColor;
  display: inline-block;
  flex: none;
  height: var(--icon-size);
  mask-size: 100% 100%;
  vertical-align: calc(0.275em - var(--icon-size) * 0.5);
  width: var(--icon-size);
  content: "";
  margin-left: 0;
  margin-right: -0.5rem;
  mask-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCI+PHBhdGggZD0iTTE2IDEybC02IDZWNmw2IDZ6Ii8+PC9zdmc+);
}

.bas::after {
     --icon-size:1rem;
     background-color:var(--NOIR-color);
     display:inline-block;
     flex:none;
     height:var(--icon-size);
     mask-size:100% 100%;
     vertical-align:calc(.375em - var(--icon-size) * .5);
     width:var(--icon-size);
     content:"";
     margin-left:.5rem;
     margin-right:-.125rem;
  mask-image: url('../images/arrow-turn-down-solid.svg');
}

.back {
  padding: 0.75rem 0.5rem 0.5rem 0;
  float: left;
}
.back::before {
  content: "";
  --icon-size: 1.5rem;
  background-color: currentColor;
  display: inline-block;
  flex: none;
  height: var(--icon-size);
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  vertical-align: calc(0.375em - var(--icon-size) * 0.5);
  width: var(--icon-size);
  -webkit-mask-image: url(data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20width=%2224%22%20height=%2224%22%3E%3Cpath%20d=%22M10.828%2012l4.95%204.95-1.414%201.414L8%2012l6.364-6.364%201.414%201.414-4.95%204.95z%22/%3E%3C/svg%3E);
  mask-image: url(data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20width=%2224%22%20height=%2224%22%3E%3Cpath%20d=%22M10.828%2012l4.95%204.95-1.414%201.414L8%2012l6.364-6.364%201.414%201.414-4.95%204.95z%22/%3E%3C/svg%3E);
}
.comme-lien {
  border: 0;
  background-color: inherit;
  font-size: 1em;
  cursor: pointer;
  margin: 0 auto;
}
.comme-lien.blanc {
  color: var(--BLANC-color);
}
.shadow-sm {
  box-shadow: 0 0.125rem 0.25rem rgba(15, 22, 4, 0.175) !important;
}
.shadow {
  box-shadow: 0 0.5rem 1rem rgba(15, 22, 4, 0.175) !important;
}
.shadow-lg {
  box-shadow: 0 1rem 3rem rgba(15, 22, 4, 0.175) !important;
}
.remarque {
  font-style: italic;
  font-size: 0.9em;
}
.border-top {
  border-top: 1px dotted var(--MAIN-FONCE-color);
}
@media screen and (min-width: 960px) {
  .grid-1a1 {
    align-items: center;
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    gap: 2em;
  }

  .decouvrir {
    align-items: center;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 1em;
  }
  .contact {
    align-items: center;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 2em;
  }
}
@media screen and (max-width: 960px) {
  .decouvrir {
    align-items: center;
    justify-items: center;
    display: grid;
    grid-template-columns: auto;
    gap: 1em;
  }
}
.img-central {
  width: 300px;
  height: 3auto;
}
.img-central img {
  height: auto;
  width: 100%;
}
img.svg-main {
  width: 1.5em;
  height: 1.5em;
  filter: var(--SVG-MAIN-filter);
  vertical-align: middle;
}
img.svg-white {
  width: 1.5em;
  height: 1.5em;
  filter: var(--SVG-BLANC-filter);
  vertical-align: middle;
}
div.box {
  padding: 0 2em 1em;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
  transition: all ease-in-out 0.3s;
  background-color: var(--MAIN-BACKGROUND-color);
}
div.box.box2 {
  background-color: var(--MAIN-SWEET-LIGHT-color);
  margin-top: 1em;
  padding: 1em;
}
div.box h2 {
  line-height: 1;
}
.box h3,
.box h4 {
  font-family: var(--FONT-FAMILY-serif);
  margin: 0 0 1em;
  padding: 0;
}
img {
  aspect-ratio: auto 640/360;
}

#banner {
  display: flex;
  align-items: center;
  padding: 0;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 30;
  height: var(--HEADER-height);
  transition: ease-in-out 0.3s;
  background-color: var(--BODY-color);
  color: var(--NOIR-color);
  /* box-shadow: 0 0.5rem 1rem rgba(87, 87, 87, 0.55) !important; */
}
#banner a.logo {
  max-width: 413px;
  margin: 0;
  padding: 0.25rem 5rem 0 0.5rem;
  background-color: var(--BLANC-color);
  clip-path: polygon(75% 0%, 85% 50%, 75% 100%, 0% 100%, 0 51%, 0% 0%);
}
#banner a.logo:hover,
#banner a.logo:focus {
  outline: 3px solid var(--ROSE-color);
}
#banner a.logo img {
  height: 70px;
  width: 100%;
}
.mini-logo {
  height: 100px;
  vertical-align: middle;
  padding-bottom: 0.5em;
}
#navigation {
  color: var(--NOIR-color);
  display: flex;
  align-items: flex-end;
}

#navigation #hamburger {
  display: none;
}
#navigation #hamburger::before {
  --icon-size: 1.5rem;
  content: "";
  background-color: currentColor;
  display: inline-block;
  flex: none;
  height: var(--icon-size);
  -webkit-mask-image: url(data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20width=%2224%22%20height=%2224%22%3E%3Cpath%20d=%22M3%204h18v2H3V4zm0%207h18v2H3v-2zm0%207h18v2H3v-2z%22/%3E%3C/svg%3E);
  mask-image: url(data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20width=%2224%22%20height=%2224%22%3E%3Cpath%20d=%22M3%204h18v2H3V4zm0%207h18v2H3v-2zm0%207h18v2H3v-2z%22/%3E%3C/svg%3E);
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  vertical-align: calc(0.375em - var(--icon-size) * 0.75);
  width: var(--icon-size);
  margin: 0;
}
#banner button {
  background-color: transparent;
  border: 0;
}
#navigation ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-end;
  list-style: none;

}
#navigation ul button[aria-expanded="false"] + ul {
  display: none;
}
#navigation ul li {
  text-align: center;
  padding: 0;
  height: 100%;
}
#navigation ul li a,
#navigation ul li button {
  display: block;
  text-align: left;
  width:100%;
  height: 100%;
  text-decoration:none;
  display:block;
  white-space:nowrap;
  text-decoration: none;
  transition: 0.8s;
  border-bottom: 5px solid transparent;
  font-family: var(--FONT-FAMILY-sans-serif);
  font-size: 1rem;
  line-height: 1.75;
  color: var(--NOIR-color);
  padding: 0.5em 1em;
}
#navigation ul li a[aria-current="page"],
#navigation ul li button[aria-current="true"] {
  color: var(--VIOLET-color);
  border-bottom: 5px solid var(--ROSE-color);
  font-weight: 700;
}
#navigation ul li button::after {
  --icon-size: 1.5rem;
  background-color: currentColor;
  content: "";
  display: inline-block;
  height: var(--icon-size);
  margin: 0;
  -webkit-mask-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCI+PHBhdGggZD0ibTEyIDEzLjE3MiA0Ljk1LTQuOTUgMS40MTQgMS40MTRMMTIgMTYgNS42MzYgOS42MzYgNy4wNSA4LjIyMmw0Ljk1IDQuOTVaIi8+PC9zdmc+);
  mask-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCI+PHBhdGggZD0ibTEyIDEzLjE3MiA0Ljk1LTQuOTUgMS40MTQgMS40MTRMMTIgMTYgNS42MzYgOS42MzYgNy4wNSA4LjIyMmw0Ljk1IDQuOTVaIi8+PC9zdmc+);
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  transition: transform 0.3s;
  vertical-align: calc(0.375em - var(--icon-size) * 0.5);
  width: var(--icon-size);
}
#navigation ul li button:hover,
#navigation ul li button:focus,
#navigation ul li a:hover,
#navigation ul li a:focus {
  border-bottom:5px solid var(--VIOLET-color);
  animation:border_anim .8s linear forwards;
  color: var(--NOIR-color);
  cursor: pointer;
}
@keyframes border_anim {
  0% {
    width:0%
  }
  100% {
    width:100%
  }
}
#navigation ul li button[aria-expanded="true"]::after {
  transform: rotate(-180deg);
}
#navigation ul button[aria-expanded="true"] + ul {
  display: block;
  box-shadow: var(--HEADER-SHADOW);
  background-color: var(--BLANC-color);
  position: absolute;
  z-index: 30;
}
#navigation ul button[aria-expanded="true"] + ul {
  padding: 0.75em 0 0;
  margin: -5px 0 0;
  background-color: var(--ROSE-color);
}
#navigation ul button[aria-expanded="true"] + ul li {
  padding: 0 1.5rem 0 1rem;
  border-bottom: 1px dotted var(--HEADER-SOUS-MENU-LINK-color);
  border-left: 3px solid transparent;
  transition: 0.8s;
  line-height: 1rem;
  background-color: var(--BLANC-color);
}
#navigation ul button[aria-expanded="true"] + ul li:last-of-type {
  border-bottom: 1px solid transparent;
}
#navigation ul button[aria-expanded="true"] + ul li a {
  padding: 0.5rem 0 0.25rem;
}
#navigation ul button[aria-expanded="true"] + ul a[aria-current="page"],
#navigation ul button[aria-expanded="true"] + ul li a {
  color: var(--HEADER-SOUS-MENU-LINK-color);
  background: 0 0;
  border-bottom: 0;
}
#navigation ul button[aria-expanded="true"] + ul li:hover,
#navigation ul button[aria-expanded="true"] + ul li:focus {
  background-color: var(--HEADER-SOUS-MENU-LINK-HOVER-color);
  border-left-color: var(--ROSE-color);
}
#navigation ul button[aria-expanded="true"] + ul li a:hover,
#navigation ul button[aria-expanded="true"] + ul li a:focus {
  border-bottom: 0;
  text-decoration: none;
}
#navigation ul ul li a[aria-current="page"] {
  font-weight: 700;
  border-bottom: none;
}
@media screen and (max-width: 1200px) {
  header.entete {
    display: none;
  }
  #banner {
    justify-content: flex-start;
    flex-direction: row-reverse;
    background-color: var(--HEADER-background-color);
    height: 2.5em;
  }
  #banner a.logo {
    height: 2em;
  }
  #banner a.logo img {
    height: 2em;
    width: auto;
  }
  #navigation #hamburger {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    background-color: transparent;
    border: 0;
    color: var(--BLANC-color);
    font-size: 1.2em;
    font-weight: 700;
    padding: 0.15em 0.75em 0.45em;
    cursor: pointer;
  }
  #navigation #hamburger:hover {
    background: var(--ROSE-color);
    color: var(--NOIR-color);
  }
  #navigation button[aria-expanded="false"]#hamburger + ul {
    display: none;
  }
  #navigation button[aria-expanded="true"]#hamburger + ul {
    display: block;
    box-shadow: none;
    background-color: var(--HEADER-background-color);
    position: absolute;
    left: 0;
    top: 2.5rem;
    margin-top: 0;
    z-index: 50;
  }
  #navigation ul {
    background-color: var(--HEADER-background-color);
    flex-direction: column;
    justify-content: flex-start;
  }
  #navigation ul li {
    text-align: left;
    border: 0;
    height: 2.5em;
  }
  #navigation ul li:not(:last-child) {
    border-bottom: 1px dotted var(--BLANC-color);
  }
  #navigation ul li a,
  #navigation ul li button {
    line-height: 1;
    padding: 0.5em;
    width: 100%;
  }
  #navigation ul li button::after {
    float: right;
    -webkit-mask-image: url(data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20width=%2224%22%20height=%2224%22%3E%3Cpath%20d=%22M13.172%2012l-4.95-4.95%201.414-1.414L16%2012l-6.364%206.364-1.414-1.414%204.95-4.95z%22/%3E%3C/svg%3E) !important;
    mask-image: url(data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20width=%2224%22%20height=%2224%22%3E%3Cpath%20d=%22M13.172%2012l-4.95-4.95%201.414-1.414L16%2012l-6.364%206.364-1.414-1.414%204.95-4.95z%22/%3E%3C/svg%3E);
  }
  #navigation ul li button[aria-expanded="true"] {
    border-bottom: 0;
  }
  #navigation ul button[aria-expanded="true"] + ul {
    display: block;
    position: absolute;
    left: 100%;
    margin-top: -1.5em;
    width: max-content;
    background-color: var(----POUDRE-color);
  }
  #navigation ul button[aria-expanded="true"] + ul li:first-of-type {
    margin-top: 0;
  }
  #navigation button[aria-expanded="true"] + ul li ul li:not(:last-child) {
    border-bottom: 1px dotted var(--MAIN-color);
  }
  #navigation ul button[aria-expanded="true"] + ul li {
    border: 0;
  }
  footer[role="contentinfo"] .pied {
    flex-direction: column;
    align-items: center;
  }
  footer[role="contentinfo"] .pied p:last-of-type {
    margin-top: 1em;
  }
}
main[role="main"] {
  background-color: var(--BODY-color);
  padding-bottom: calc(var(--MARGIN-cadratin) * 5);

}
main h1 {
  margin-top: 1em;
  text-align: center;
}

main ul {
  list-style: none;
}
main ul li {
  padding-left: 2em;
  margin-bottom: 1em;
}
main ul.nopad li {
  padding-left: 0.5em;
}
main ul li::before {
  font-family: "FontAwesome";
  content: "\f5bc";
  font-size: 0.75em;
  padding-right: 0.25em;
  color: inherit;
}
main ul.noleaf li::before {
  content: "";
}
main aside h2 {
  font-size: 1.25em;
  padding-left: 0.75em;
}
main aside h2::after {
  content: "";
}
.accueil {
  background-color: var(--POUDRE-color);
}
.hero {
  height: 50%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
}
.hero h1 {
  color: var(--ROSE-color) !important;
  text-align: center;
  font-size: 5em;
  margin-top: 4rem;
  margin-bottom: 0;
  text-transform: uppercase;
}
.hero  p {
  color: FFA500 !important;
  font-size: 2em;
  margin-bottom: 2em;
  font-family: var(--FONT-FAMILY-serif);
  text-align: center;
}

p.cta {
  display: inline-block;
  background-color: var(--ROSE-color);
  margin: 1rem auto;
  padding: 0.15em 0.5em;
  color: var(--VIOLET-color) ;
  font-size: 1.15rem;
  letter-spacing: 0.6px;
  outline: none;
  border-radius: 355px 45px 225px 75px/15px 225px 15px 255px;
  border: solid 7px;
  border-top-color: currentcolor;
  border-right-color: currentcolor;
  border-bottom-color: currentcolor;
  border-left-color: currentcolor;
  text-transform: uppercase;
  transition: 0.3s;
  margin-bottom: 2rem;
}
.hero .animate-bottom p.cta {
  font-size: 1.15rem;
}
p.cta a {
  color: var(--NOIR-color);
}
p.cta a:hover {
  text-decoration: none;
}
p.cta:hover {
  transform: scale(1.1);
}
.bloc {
  box-shadow: 10px 10px 0px 0px rgba(153, 153, 153, 0.33);
  border-radius: 55px 160px;
  padding: 3rem;
  border: 0;
  margin-bottom: 2rem;
}
.taches {
  background: url(../images/taches.png) no-repeat;
}
.haut-droite {
  background-position: 100% 25%;
}
.fond-peche {
  background-color: var(--PECHE-color);
  color: var(--NOIR-color);
}
.fond-poudre {
  background-color: var(--POUDRE-color);
  color: var(--NOIR-color);
}
.fond-rose {
  background-color: var(--ROSE-color);
  color: var(--NOIR-color);
}
.fond-fuschia {
  background-color: var(--FUSCHIA-color);
  color: var(--BLANC-color);
}
.fond-violet {
  background-color: Indigo;
  color: var(--BLANC-color);
}
.fond-orange {
  background-color: var(--JAUNE-color);
  color: var(--NOIR-color);
}
.fond-vert-cirton {
  background-color: var(--VERT-CITRON-color);
  color: var(--NOIR-color);
}
.fond-vert-gazon {
  background-color: var(--VERT-GAZON-color);
  color: var(--NOIR-color);
}
.cloud + div {
  margin-top: -1rem;
}
#nuage + footer {
  margin-top: -1rem;
}
.cloudbas {
  transform: rotate(180deg);
}
.ariane {
  padding: 0.5em 1em;
  background: var(--ARIANE-background-color);
  color: var(--ARIANE-TEXT-color);
}
.ariane ol {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 0.95rem;
}
.ariane li {
  line-height: 1.75rem;
}
.ariane li:not(:first-child)::before {
  --icon-size: 1rem;
  background-color: var(--ARIANE-TEXT-color);
  content: "";
  display: inline-block;
  flex: none;
  height: var(--icon-size);
  margin-left: 0.25rem;
  margin-right: 0;
  -webkit-mask-image: url(data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20width=%2224%22%20height=%2224%22%3E%3Cpath%20d=%22M13.172%2012l-4.95-4.95%201.414-1.414L16%2012l-6.364%206.364-1.414-1.414%204.95-4.95z%22/%3E%3C/svg%3E);
  mask-image: url(data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20width=%2224%22%20height=%2224%22%3E%3Cpath%20d=%22M13.172%2012l-4.95-4.95%201.414-1.414L16%2012l-6.364%206.364-1.414-1.414%204.95-4.95z%22/%3E%3C/svg%3E);
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  vertical-align: calc(0.325rem - var(--icon-size) * 0.5);
  width: var(--icon-size);
}
.ariane a {
  text-decoration: none;
  color: var(--link-color);
}
.ariane a:hover,
.ariane a:focus {
  text-decoration: underline;
}
.ariane a[aria-current="page"] {
  color: var(--link-page-color);
  text-decoration: none;
  font-weight: 700;
}
.animate-top {
  position: relative;
  animation: animatetop 0.8s;
}
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
.hero .animate-bottom,
.active .animate-bottom {
  position: relative;
  text-align: center;
  animation: animatebottom 0.8s;
}
@keyframes animatebottom {
  from {
    bottom: -300px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}
.active .animate-left , 
.hero .animate-left {
  position: relative;
  animation: animateleft 0.8s;
}
@keyframes animateleft {
  from {
    left: -100vw;
    opacity: 0;
  }
  to {
    left: 0;
    opacity: 1;
  }
}
.active .animate-right,
.hero .animate-right{
  position: relative;
  animation: animateright 0.8s;
}
@keyframes animateright {
  from {
    right: -100vw;
    opacity: 0;
  }
  to {
    right: 0;
    opacity: 1;
  }
}
.active .animate-zoom {
  animation: animatezoom 0.6s;
}
@keyframes animatezoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
.active .animate-fading,
.animate-fade {
  animation: fading 3s;
}
@keyframes fading {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.blk-5 {
  display: block;
  margin-bottom: 5em;
}
@media screen and (min-width: 1400px) {
  :root {
    --CARD-width: 377px;
    --CARD-height: 300px;
  }
}
.card {
  margin: 1em 0 0;
  box-shadow: var(--SHADOW-sm);
  padding: 0;
  background-color: var(--PECHE-color);
  color: var(--NOIR-color);
  transition: 0.8s;
  position: relative;
  max-width: var(--CARD-width);
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.img-card {
  width: var(--CARD-width);
  height: var(--CARD-height);
}
.card .img-card img {
  width: 100%;
  height: auto;
}
.card a::before {
  bottom: 0;
  content: "";
  display: block;
  height: 100%;
  left: 0;
  outline-color: inherit;
  outline-offset: 2px;
  outline-style: inherit;
  outline-width: 2px;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1;
}
.card:hover,
.card:focus {
  box-shadow: var(--SHADOW-lg);
  background-color: var(----POUDRE-color);
}
.card:hover img,
.card:focus img {
  opacity: 0.7;
}
.card-text {
  padding: 0 0.5em 0.5em;
}
.card h2,
.card h3,
.card p {
  font-family: var(--FONT-FAMILY-sans-serif);
  font-size: 1em;
  padding: 1.5em 0 1em;
  margin: 0;
  color: var(--NOIR-color);
  text-align: center;
}
.card-text a {
  font-weight: 700;
  font-size: 1.25em;
  text-decoration: none;
  color: var(--NOIR-color);
}
.flexServices {
  display: grid;
  gap: 2em;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
}
.flexTourisme {
  display: grid;
  gap: 2em;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}
.panneau {
  max-width: 275px;
  height: auto;
}
.commune {
  max-width: 303px;
  height: auto;
}
.mecapark {
  max-width: 300px;
  height: auto;
}
.coins {
  max-width: 286px;
  height: auto;
}
.plage {
  width: 100%;
  max-width: 1000px;
  height: auto;
}
.van {
  max-height: 150px;
  width: auto;
  float: left;
  margin-right: 1em;
}
.none {
  display: none;
}
.dialog_layer {
  position: absolute;
  top: 2rem;
  z-index: 1030 !important;
}
[role="alertdialog"],
[role="dialog"] {
  box-sizing: border-box;
  padding: 1em;
  border: 1px solid #b0aeae;
  background-color: #fff;
  min-height: 100vh;
}
@media screen and (min-width: 640px) {
  [role="alertdialog"],
  [role="dialog"] {
    position: absolute;
    top: 2rem;
    left: 50vw;
    transform: translateX(-50%);
    min-width: calc(640px - (15px * 2));
    min-height: auto;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.12), 0 15px 12px rgba(0, 0, 0, 0.22);
  }
}
.dialog-header {
  border-bottom: 1px solid #b0aeae;
  padding-bottom: 0.5em;
}
.dialog-header h1 {
  font-size: 1.75em;
  margin: 0;
}
.dialog-header button {
  float: right;
  position: absolute;
  top: 0.5em;
  right: 2%;
  padding: 0.25em 0 0.25em 0.5em;
  border: 0;
  font-size: 1.5em;
  background-color: inherit;
  cursor: pointer;
}
.dialog-header button:focus {
  outline: 3px solid gray;
}
.dialog-body {
  padding: 1.5em 0.5em;
  font-size: 0.9em;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.dialog-body h2 {
  text-align: left !important;
  padding: 0;
  margin: 1em 0 0.5em;
  font-size: 1.25em;
  font-family: var(--FONT-FAMILY-sans-serif);
  letter-spacing: 0;
}
.dialog-body ul {
  padding-left: 1em;
}
.dialog-body ul li {
  padding-bottom: 1em;
}
.dialog-footer {
  border-top: 1px solid var(--GRIS-color);
}
.dialog-footer button {
  float: right;
  padding: 0.5em;
  margin-top: 0.5em;
}
.dialog-backdrop {
  display: none;
  position: fixed;
  overflow-y: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
@media screen and (min-width: 640px) {
  .dialog-backdrop {
    background: rgba(0, 0, 0, 0.3);
  }
}
.dialog-backdrop.active {
  display: block;
}
.no-scroll {
  overflow-y: auto !important;
}
.has-dialog {
  overflow: hidden;
}
.notes {
  display: block;
  font-size: 1rem;
  line-height: 1.3;
  min-width: 400px;
  max-width: 100%;
  width: 33%;
}
.toast {
  background-color: rgba(0, 0, 0, 0.9);
  color: #fff;
  padding: 1rem;
  border: none;
  border-radius: 0.25rem;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  position: fixed;
  top: 1rem;
  right: 1rem;
  transform: translateY(-150%);
  transition: transform 225ms cubic-bezier(0.4, 0, 0.2, 1);
}
.toast.active {
  transform: translateY(0);
}
.carte {
  margin: 0 var(--MARGIN-x);
}
.carte iframe {
  margin: 0;
}
.maps {
  width: 100%;
  height: 450px;
  border: 0;
}
footer[role="contentinfo"] {
  display: block;
  background-color: var(--FOOTER-color);
  color: var(--NOIR-color);
  margin: 0;
  padding: 2em 0 0;
  text-align: left;
  background: var(--FOOTER-color) url('../images/pixel-ballon.png') center right no-repeat;
}

footer[role="contentinfo"] .flexible {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 3em var(--MARGIN-negatif-cadratin);
  margin-bottom: 3em;
}
footer[role="contentinfo"] .flexible div {
  flex: 0 0 30%;
  padding-right: var(--MARGIN-cadratin);
  padding-left: var(--MARGIN-cadratin);
}
.logo-footer {
  display: block;
  max-height: 200px;
  max-width: 200px;
  margin-left: 10%;;
  background-color: var(--BLANC-color);
  border-radius: 50%;
  padding: 1rem;
}
.logo-footer img {
  height: 60px;
  width: auto;
}
footer[role="contentinfo"] ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
footer[role="contentinfo"] ul.direct {
  display: flex;
  flex-direction: column;
}
footer[role="contentinfo"] ul.direct li {
  padding: 0.5em 0;
}
footer[role="contentinfo"] ul.direct li img {
  height: 0.9em;
  padding-right: 0.25em;
}
.mail::before {
  --icon-size:1rem;
  background-color:var(--NOIR-color);
  display:inline-block;
  flex:none;
  height:var(--icon-size);
  mask-size:100% 100%;
  vertical-align:calc(.375em - var(--icon-size) * .5);
  width:var(--icon-size);
  content:"";
  margin-right:0.255rem;
  margin-left: -1.25rem;
  mask-image: url('../images/square-envelope-solid.svg');
}
.phone::before {
  --icon-size:1rem;
  background-color:var(--NOIR-color);
  display:inline-block;
  flex:none;
  height:var(--icon-size);
  mask-size:100% 100%;
  vertical-align:calc(.375em - var(--icon-size) * .5);
  width:var(--icon-size);
  content:"";
  margin-right:0.255rem;
  margin-left: -1.25rem;
  mask-image: url('../images/square-phone-solid.svg');
}
.fb::before {
  --icon-size:1rem;
  background-color:var(--NOIR-color);
  display:inline-block;
  flex:none;
  height:var(--icon-size);
  mask-size:100% 100%;
  vertical-align:calc(.375em - var(--icon-size) * .5);
  width:var(--icon-size);
  content:"";
  margin-right:0.255rem;
  margin-left: -1.25rem;
  mask-image: url('../images/square-facebook-brands-solid.svg');
}
footer[role="contentinfo"] a {
  color: var(--NOIR-color);
  font-weight: 400;
  border: 0;
}
footer[role="contentinfo"] .pied a {
  color: var(--BLANC-color);
}
footer[role="contentinfo"] .pied {
  background-color: var(--FOOTER-PIED-color);
  border-top: 3px solid #366629;
  color: var(--BLANC-color) !important;
  padding: 1em 1em 0.1em;
  display: flex;
  justify-content: space-between;
}
footer[role="contentinfo"] .pied p {
  flex: 0 0 33%;
  font-family: var(--FONT-FAMILY-sans-serif);
  font-size: 0.8em;
  line-height: 1;
  
}
footer[role="contentinfo"] .pied *:nth-child(1) {
  text-align: left;
}
footer[role="contentinfo"] .pied *:nth-child(2) {
  text-align: center;
}
footer[role="contentinfo"] .pied *:nth-child(3) {
  text-align: right;
}
footer[role="contentinfo"] .pied p span {

  border-radius: 50%;
  font-size: 0.75em;
  padding: 0.1em 0.2em;
}
footer[role="contentinfo"] .pied ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
}
footer[role="contentinfo"] .pied ul li {
  padding: 0;
  font-size: 0.9em;
  line-height: 1.5;
  margin-bottom: 1.5em;
}
footer[role="contentinfo"] .pied ul li:not(:last-child) a {
  border-right: 1px solid var(--BLANC-color);
  padding: 0 0.5em;
  color: var(--BLANC-color)
}
footer[role="contentinfo"] .pied ul li:last-child a {
  padding: 0 0.5em;
}
button.like-link {
  border: 0;
  background: 0 0;
  color: var(--BLANC-color);
  font-family: var(--FONT-FAMILY-sans-serif);
  cursor: pointer;
  margin: 0;
  padding: 0;
}
button:hover.like-link,
.pied a:hover,
button:focus.like-link,
.pied a:focus {
  text-decoration: underline;
}
.social-links {
  text-align: center;
  margin-top: 1em;
}
.social-links ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
footer .social-links ul,
.debut .social-links ul {
  justify-content: flex-start;
}
.debut .social-links ul {
  margin-left: 1.5em;
}
.social-links ul li::before {
  content: "";
}
.social-links ul li {
  padding-left: 0.5em;
}
.social-links a {
  display: inline-block;
  background: var(--NOIR-color);
  border: 2px solid var(--MAIN-color) !important;
  color: var(--NOIR-color);
  line-height: 1;
  margin-right: 1em;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  transition: 0.3s;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.social-links span[class*="fa-"] {
  color: var(--HEADER-background-color);
  padding-right: 0;
}
.social-links a:hover,
.social-links a:focus {
  background: var(--MAIN-color);
  outline: 3px solid var(--BLANC-color);
  text-decoration: none;
}
.social-links a:hover span[class*="fa-"],
.social-links a:focus span[class*="fa-"] {
  color: var(--NOIR-color);
}
.social-links a img {
  width: 1.25em;
  height: 1.25em;
  filter: var(--SVG-MAIN-filter) !important;
  padding-left: 0;
}
.social-links a:hover img {
  filter: var(--SVG-BLANC-filter) !important;
}
@media screen and (max-width: 1024px) {
  :root {
    --MARGIN-x: 5%;
  }
  .flex.flex-centre {
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 992px) {
  #accueil h1 {
    font-size: 5em;
  }
  .text-schema img {
    max-width: 990px;
  }
  footer[role="contentinfo"] .flexible div.first-col {
    grid-template-columns: auto;
  }
  .flexServices {
    grid-template-columns: 1fr 1fr;
  }
  .hero .animate-top {
    padding-top: 50px !important;
  }
  .hero h1 {
    font-size: 3em;
  }
}
@media screen and (max-width: 768px) {
  .flexGite {
    grid-template-columns: 1fr;
  }
  .text-schema img {
    max-width: 760px;
  }
  h2 {
    font-size: 2em;
    text-align: left;
    padding-left: 1em;
  }
  .flex {
    flex-direction: column;
    align-items: flex-start;
  }
  footer[role="contentinfo"] .flexible {
    flex-direction: column;
    gap: 2em;
  }
  footer[role="contentinfo"] .flexible div.first-col {
    grid-template-columns: auto auto;
  }
  footer[role="contentinfo"] .logo-court {
    max-width: 120px;
    max-height: 100%;
  }
  footer[role="contentinfo"] #contact p:first-of-type {
    font-size: 3em;
    padding: 1em;
  }
  footer[role="contentinfo"] #contact p {
    line-height: 1;
    padding: 0 1em;
  }
  .text-schema img {
    max-width: 760px;
  }
  #accueil {
    justify-content: center;
  }
  #accueil h1 {
    font-size: 2.5em;
    margin: 0;
    padding: 0;
  }
  #accueil h2,
  #accueil h2 span {
    font-size: 1.5em;
    text-align: center;
    margin: 0;
  }
  .social-links {
    margin: 0;
  }
  #accueil p {
    font-size: 150%;
    margin: 0 0.5em 0.5em;
  }
  h2 {
    padding-left: 0.5em;
  }
  .grid2col {
    grid-template-columns: 1fr;
  }
  .social-links {
    margin-top: 1em;
  }
  .btn-outline.plus {
    display: block;
    margin: 0 auto;
    margin-bottom: 1em;
  }
  .flexBoutons {
    flex-direction: row;
  }
  .flexBoutons li {
    flex: 0 0 100%;
    margin: 0;
  }
  .flexBoutons li a.btn {
    display: block;
    width: 90%;
    margin: 0;
    text-align: center;
  }
}
@media screen and (max-width: 576px) {
  .flexServices,
  .flexTourisme {
    grid-template-columns: 1fr;
  }
  .hero .animate-top {
    padding-top: 50px !important;
  }
  .hero h1,
  h1 {
    font-size: 2em;
  }
  .hero .animate-top p {
    font-size: 1.25em;
  }
  h2 {
    font-size: 1.5em;
    padding: 0;
  }
}
@media screen and (max-width: 420px) {
  .text-schema img {
    max-width: 300px;
  }
  .van {
    float: none;
  }
  footer[role="contentinfo"] ul.direct {
    flex-direction: column;
  }
  .pl-3 {
    padding: 0;
  }
  .enligne.center {
    justify-content: flex-start;
  }
}
#myFilter {
  text-align: center;
}
#myFilter button:not(:first-of-type) {
  margin-right: 0.5em;
}
.vignette {
  display: none;
  animation: fadeIn 3s ease;
}
.show {
  display: block;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0.5, 0.005);
  }
  50% {
    opacity: 1;
    transform: scale(1, 1);
  }
}
.btn-outline.active {
  background-color: var(--ROSE-color);
  color: var(--NOIR-color);
  font-weight: 700;
  border: 1px solid var(--FUSCHIA-color);
}
.form-input {
  color: var(--NOIR-color);
  font-weight: 500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border: 2px solid var(--GRIS-color);
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
  outline: 0;
}
.form-input:focus {
  border: 2px solid var(--MAIN-color);
  outline: 3px solid var(--FUSCHIA-color);
}
textarea {
  height: 150px;
  line-height: 150%;
  resize: vertical;
  font-family: montserrat, Arial, Helvetica, sans-serif;
}
button[type="submit"] {
  font-family: montserrat, Arial, Helvetica, sans-serif;
  font-size: 1.25em !important;
  padding: 1em;
  width: 100%;
  background: var(--MAIN-color);
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  color: var(--BLANC-color);
  font-size: 1em;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: all 0.3s;
  margin-top: -4px;
  font-weight: 700;
}
button[type="submit"]:hover {
  background: var(--HEADER-background-color);
  color: var(--ROSE-color);
  outline: 3px solid var(--FUSCHIA-color);
}
.pagination {
  border-top: 1px dotted var(--GRIS-color);
  margin-top: 3em;
}
.pagination ul {
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
  list-style: none;
  margin: 1rem 0 0;
  padding: 0;
}
main .pagination ul li::before {
  content: "";
}
.pagination li:nth-child(2) {
  text-align: center;
}
.pagination li:nth-child(3) {
  text-align: right;
}
.pagination a {
  border: 1px solid var(--MAIN-color);
  color: var(--MAIN-color);
  border-radius: 0.25em;
}
.pagination a:hover,
.pagination a:focus {
  background-color: var(--MAIN-color);
  color: var(--BLANC-color);
  text-decoration: none;
}
.pagination li:nth-child(1) a {
  padding: 0.75rem 0.5rem 0.5rem 0;
}
.pagination li:nth-child(3) a {
  padding: 0.75rem 0 0.5rem 0.5rem;
}
.pagination li:nth-child(1) a::before,
.pagination li:nth-child(3) a::after {
  content: "";
  --icon-size: 1.5rem;
  background-color: currentColor;
  display: inline-block;
  flex: none;
  height: var(--icon-size);
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  vertical-align: calc(0.375em - var(--icon-size) * 0.5);
  width: var(--icon-size);
}
.pagination li:nth-child(1) a::before {
  -webkit-mask-image: url(data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20width=%2224%22%20height=%2224%22%3E%3Cpath%20d=%22M10.828%2012l4.95%204.95-1.414%201.414L8%2012l6.364-6.364%201.414%201.414-4.95%204.95z%22/%3E%3C/svg%3E);
  mask-image: url(data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20width=%2224%22%20height=%2224%22%3E%3Cpath%20d=%22M10.828%2012l4.95%204.95-1.414%201.414L8%2012l6.364-6.364%201.414%201.414-4.95%204.95z%22/%3E%3C/svg%3E);
}
.pagination li:nth-child(3) a::after {
  -webkit-mask-image: url(data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20width=%2224%22%20height=%2224%22%3E%3Cpath%20d=%22M13.172%2012l-4.95-4.95%201.414-1.414L16%2012l-6.364%206.364-1.414-1.414%204.95-4.95z%22/%3E%3C/svg%3E);
  mask-image: url(data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20width=%2224%22%20height=%2224%22%3E%3Cpath%20d=%22M13.172%2012l-4.95-4.95%201.414-1.414L16%2012l-6.364%206.364-1.414-1.414%204.95-4.95z%22/%3E%3C/svg%3E);
}
