@font-face {
  font-family: "Poppins Bold";
  src: url("../fonts/poppins/poppins-bold-webfont.eot");
  src: url("../fonts/poppins/poppins-bold-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/poppins/poppins-bold-webfont.woff2") format("woff2"),
    url("../fonts/poppins/poppins-bold-webfont.woff") format("woff"),
    url("../fonts/poppins/poppins-bold-webfont.svg#poppinsbold") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins Light";
  src: url("../fonts/poppins/poppins-light-webfont.eot");
  src: url("../fonts/poppins/poppins-light-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/poppins/poppins-light-webfont.woff2") format("woff2"),
    url("../fonts/poppins/poppins-light-webfont.woff") format("woff"),
    url("../fonts/poppins/poppins-light-webfont.svg#poppinslight") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins Medium";
  src: url("../fonts/poppins/poppins-medium-webfont.eot");
  src: url("../fonts/poppins/poppins-medium-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/poppins/poppins-medium-webfont.woff2") format("woff2"),
    url("../fonts/poppins/poppins-medium-webfont.woff") format("woff"),
    url("../fonts/poppins/poppins-medium-webfont.svg#poppinsmedium")
      format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/poppins/poppins-regular-webfont.eot");
  src: url("../fonts/poppins/poppins-regular-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/poppins/poppins-regular-webfont.woff2") format("woff2"),
    url("../fonts/poppins/poppins-regular-webfont.woff") format("woff"),
    url("../fonts/poppins/poppins-regular-webfont.svg#poppinsregular")
      format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins Semi Bold";
  src: url("../fonts/poppins/poppins-semibold-webfont.eot");
  src: url("../fonts/poppins/poppins-semibold-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/poppins/poppins-semibold-webfont.woff2") format("woff2"),
    url("../fonts/poppins/poppins-semibold-webfont.woff") format("woff"),
    url("../fonts/poppins/poppins-semibold-webfont.svg#poppinssemibold")
      format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Luckiest Guy";
  src: local("Luckiest Guy"), local("LuckiestGuy-Regular"),
    url("../fonts/LuckiestGuy-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "LoveYaLikeASister";
  src: local("LoveYaLikeASister"), local("LoveYaLikeASister-Regular"),
    url("../fonts/LoveYaLikeASister-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
:root {
  --FONT-FAMILY-serif: "Luckiest Guy", cursive, Georgia, Times, serif;
  --FONT-FAMILY-sans-serif: "Poppins", Georgia, "Times New Roman", Times, serif;
  --BLANC-color: #f4f2f1;
  --BLANC-TRANSPARENT-COLOR: rgba(244, 242, 241, 0.8);
  --NOIR-color: #201e18;
  --NOIR-TRANSPARENT-color: rgba(27, 30, 26, 0.9);
  --GRIS-color: #454545;
  --GRIS-LIGHT-color: #e0e0e0;
  --GRIS-TRANSPARENT-color: rgba(87, 87, 87, 0.9);

  --BODY-color: #FFF;
  --PECHE-color: #FDDAC4;
  --ORANGE-color: #ff9750;
  --OCRE-color: #FF6700;
  --OCRE-FONCE-color: #AD4600;
  --MAUVE-color: #E6DAF1;
  --PARME-color: #CCB5E3;
  --VIOLET-color: #5e3488;
  --POUDRE-color: #FDC3EF;
  --ROSE-color: #EA3EAC;
  --ROSE-CLAIR-color: #FB7FDD;
  --FUSCHIA-color: #a7116f;
  --VERT-AMANDE-color: #CEE78B;
  --VERT-CITRON-color: #81ad15;
  --VERT-GAZON-color: #3e742f;
  --CIEL-color: #C1D8FF;
  --BLEU-color: #0F51C2;
  --MARINE-color: #0C2E66;
  --VERT-CLAIR-color: #BAE4D3;
  --VERT-color: #7ACAAB;
  --VERT-FONCE-color: #40A07B;


  --HEADER-background-color: var(--ORANGE-color);
  --HEADER-TRANSPARENT-background-color: var(--GRIS-TRANSPARENT-color);
  --HEADER-SOUS-MENU-LINK-color: #575757;
  --HEADER-SOUS-MENU-LINK-HOVER-color: var(--POUDRE-color);
  --HEADER-SHADOW: 0 0.5rem 1rem #757575 !important;
  --HEADER-height: 3em;
  --ARIANE-background-color: var(--PECHE-color);
  --ARIANE-TEXT-color: var(--NOIR-color);
  --SVG-MAIN-filter: invert(19%) sepia(18%) saturate(2512%) hue-rotate(87deg)
    brightness(95%) contrast(93%);
  --SVG-SECOND-filter: invert(10%) sepia(96%) saturate(4963%) hue-rotate(154deg)
    brightness(94%) contrast(87%);
  --SVG-NOIR-filter: invert(12%) sepia(4%) saturate(0%) hue-rotate(241deg)
    brightness(96%) contrast(96%);
  --SVG-BLANC-filter: invert(99%) sepia(2%) saturate(3887%) hue-rotate(297deg)
    brightness(107%) contrast(88%);
  --SHADOW-sm:  rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
  --SHADOW: 0 0.5rem 1rem var(--GRIS-TRANSPARENT-color) !important;
  --SHADOW-lg: 0 1rem 3rem var(--GRIS-color) !important;
  --SHADOW-GRIS: 0 0.125rem 0.25rem var(--GRIS-color) !important;

  --SHADOW-ROSE: rgba(249, 87, 210, 0.4) 5px 5px, rgba(249, 87, 210, 0.3) 10px 10px, rgba(249, 87, 210, 0.2) 15px 15px, rgba(249, 87, 210, 0.1) 20px 20px, rgba(249, 87, 210, 0.05) 25px 25px;
  --SHADOW-ROSE-gauche: rgba(249, 87, 210, 0.4) -5px 5px, rgba(249, 87, 210, 0.3) -10px 10px, rgba(249, 87, 210, 0.2) -15px 15px, rgba(249, 87, 210, 0.1) -20px 20px, rgba(249, 87, 210, 0.05) -25px 25px;
  --SHADOW-FUSCHIA: rgba(251, 127, 221, 0.4) 5px 5px, rgba(251, 127, 221, 0.3) 10px 10px, rgba(251, 127, 221, 0.2) 15px 15px, rgba(251, 127, 221, 0.1) 20px 20px, rgba(251, 127, 221, 0.05) 25px 25px;
  --SHADOW-ORANGE: rgba(255,151,80, 0.4) 5px 5px, rgba(255,151,80, 0.3) 10px 10px, rgba(255,151,80, 0.2) 15px 15px, rgba(255,151,80, 0.1) 20px 20px, rgba(255,151,80, 0.05) 25px 25px;
  --SHADOW-VIOLET:  rgba(94,52,136, 0.4) 5px 5px, rgba(94,52,136, 0.3) 10px 10px, rgba(94,52,136, 0.2) 15px 15px, rgba(94,52,136, 0.1) 20px 20px, rgba(94,52,136, 0.05) 25px 25px;

  --SHADOW-gauche: rgba(69, 69, 69, 0.4) -5px 5px, rgba(69, 69, 69, 0.3) -10px 10px, rgba(69, 69, 69, 0.2) -15px 15px, rgba(69, 69, 69, 0.1) -20px 20px, rgba(69, 69, 69, 0.05) -25px 25px;
  --SHADOW-centre: rgba(69, 69, 69, 0.4) 0px 5px, rgba(69, 69, 69, 0.3) 0px 10px, rgba(69, 69, 69, 0.2) 0px 15px, rgba(69, 69, 69, 0.1) 0px 20px, rgba(69, 69, 69, 0.05) 0px 25px;
  --SHADOW-droite: rgba(69, 69, 69, 0.4) 5px 5px, rgba(69, 69, 69, 0.3) 10px 10px, rgba(69, 69, 69, 0.2) 15px 15px, rgba(69, 69, 69, 0.1) 20px 20px, rgba(69, 69, 69, 0.05) 25px 25px;

  --TEXT-SHADOW : 2px 2px 0px rgba(255, 255, 255, 1), 5px 4px 0px rgba(32, 30, 24, 0.15);
  --MARGIN-x: 10%;
  --MARGIN-cadratin: 1em;
  --MARGIN-negatif-cadratin: -1em;
  --CARD-width: 277px;
  --CARD-height: 200px;
}

* {
  margin: 0;
  padding: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  scroll-padding-top: var(--HEADER-height) ;
  scroll-behavior: smooth;
}
main,
footer,
header {
  display: block;
}

@media (min-width: 78em) {
  .container {
    max-width: 78rem;
    margin: 0 auto;;
  }
}
.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
body {
  background-color: var(--BODY-color);
  color: var(--NOIR-color);
  font-family: var(--FONT-FAMILY-sans-serif);
  font-size: 1em;
  line-height: 1.5;
  counter-reset: h2 ;
}
a {
  color: var(--FUSCHIA-color);
  text-decoration: none;
  transition: 0.5s;
  font-family: var(--FONT-FAMILY-sans-serif);
}
a:hover,
a:active,
a:focus {
  color: var(--VIOLET-color);
  outline: none;
  text-decoration: underline;
}
a:hover i,
a:focus i {
  color: var(--GRIS-color);
}
a[target="_blank"]:not(.nologo)::after {
  font-family: "FontAwesome";
  content: "\f08e";
  font-size: 90%;
  padding-left: 0.25em;
}
p {
  line-height: 1.5;
  margin-bottom: 1em;
}
em {
  font-style: italic;
  font-size: 90%;
}
em::before,
em::after {
  content:"_";
}
.text-center {
  text-align: center;
}
.w-50p {
  width: 50%;
  margin: 0 auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--FONT-FAMILY-serif);
  font-weight: 700;
  margin: 1em 0 0.5em;
  color: var(--GRIS-color);
  letter-spacing: 0.1em;
  text-shadow: var(--TEXT-SHADOW);
}
h1 {
  font-size: 3rem;
  text-align: center;
  margin-top: 1em;
}
h2 {
  font-size: 2.5rem;
  margin: 3rem 0 2rem 0;
  text-align: center;
}
h3 {
  font-size: 1.75rem;
  margin: 3rem 0 1rem 0;
}
h4 {
  font-family: var(--FONT-FAMILY-sans-serif);
  font-size: 1.25rem;
}
i[class^="fa"] {
  padding-right: 0.5em;
}
section {
  padding: 1rem;
}
.lead {
  font-size: 150%;
}
.temoignages {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-around;
  gap: 5rem;
  min-height: 640px;
  background: url('../images/pixel-etoiles.png') no-repeat 50% 70%;
}
.temoin {
  display: flex;
  flex-direction: column;
}
.temoignages blockquote {
  margin: 0 0 2rem 0;
  display: inline-block;
  position: relative;
  width: auto;
  height: auto;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  box-shadow: var(--SHADOW);
}
.temoignages blockquote p {
  padding: 0.5rem 0.5rem 0 0.5rem;
  text-align: center;
  font-style: italic;
  color: var(--NOIR-color)rgba(0, 0, 0, 0.1);
}
.temoignages blockquote + cite {
  display: block;
  font-style: normal;
  font-size: 1.25rem;
  font-family: var(--FONT-FAMILY-serif);
  color: var(--GRIS-color);
}

.temoignages blockquote.droite + cite {
  text-align: right;
}

.temoin:nth-of-type(1) blockquote,
.temoin:nth-of-type(5) blockquote {
  max-width: 250px;
}
.temoin:nth-child(2) blockquote,
.temoin:nth-of-type(6) blockquote {
  max-width: 450px;
}
.temoin:nth-child(3) blockquote,
.temoin:nth-of-type(4) blockquote {
  max-width: 350px;
}
.temoignages blockquote::before {
  content: " ";
  position: absolute;
  width: 0;
  height: 0;
  bottom: -40px;
  border: 1rem solid;
}
.temoignages blockquote.gauche::before {
  left: 30px;
  right: auto;
  top: auto;
}
.temoignages blockquote.droite::before {
  left: auto;
  right: 30px;
}
.temoignages blockquote::after {
  content: " ";
  position: absolute;
  width: 0;
  height: 0;
  bottom: -20px;
  border: 12px solid;
}

.temoignages blockquote.gauche::after {
  left: 38px;
  right: auto;
  top: auto;
  border-color: var(--VERT-AMANDE-color) transparent transparent var(--VERT-AMANDE-color);
}
.temoignages blockquote.droite::after {
  left: auto;
  right: 38px;
  border-color: var(--VERT-AMANDE-color) var(--VERT-AMANDE-color) transparent transparent;
}

.temoignages .vert blockquote {
  background-color: var(--VERT-CLAIR-color);
  border: 8px solid var(--VERT-FONCE-color);
}
.temoignages .vert blockquote.gauche::before {
  border-color: var(--VERT-FONCE-color) transparent transparent var(--VERT-FONCE-color);
}
.temoignages .vert blockquote.droite::before {
  border-color: var(--VERT-FONCE-color) var(--VERT-FONCE-color) transparent transparent;
}
.temoignages .vert blockquote.gauche::after {
  border-color: var(--VERT-CLAIR-color) transparent transparent var(--VERT-CLAIR-color);
}
.temoignages .vert blockquote.droite::after {
  border-color: var(--VERT-CLAIR-color) var(--VERT-CLAIR-color) transparent transparent;
}

.temoignages .rose blockquote {
  background-color: var(--POUDRE-color);
  border: 8px solid var(--ROSE-CLAIR-color);
}
.temoignages .rose blockquote.gauche::before {
  border-color: var(--ROSE-CLAIR-color) transparent transparent var(--ROSE-CLAIR-color);
}
.temoignages .rose blockquote.droite::before {
  border-color: var(--ROSE-CLAIR-color) var(--ROSE-CLAIR-color) transparent transparent;
}
.temoignages .rose blockquote.gauche::after {
  border-color: var(--POUDRE-color) transparent transparent var(--POUDRE-color);
}
.temoignages .rose blockquote.droite::after {
  border-color: var(--POUDRE-color) var(--POUDRE-color) transparent transparent;
}
.temoignages .jaune blockquote {
  background-color: var(--PECHE-color);
  border: 8px solid var(--ORANGE-color);
}
.temoignages .jaune blockquote.gauche::before {
  border-color: var(--ORANGE-color) transparent transparent var(--ORANGE-color);
}
.temoignages .jaune blockquote.droite::before {
  border-color: var(--ORANGE-color) var(--ORANGE-color) transparent transparent;
}
.temoignages .jaune blockquote.gauche::after {
  border-color: var(--PECHE-color) transparent transparent var(--PECHE-color);
}
.temoignages .jaune blockquote.droite::after {
  border-color: var(--PECHE-color) var(--PECHE-color) transparent transparent;
}

.temoignages .bleu blockquote {
  background-color: var(--CIEL-color);
  border: 8px solid var(--BLEU-color);
}
.temoignages .bleu blockquote.gauche::before {
  border-color: var(--BLEU-color) transparent transparent var(--BLEU-color);
}
.temoignages .bleu blockquote.droite::before {
  border-color: var(--BLEU-color) var(--BLEU-color) transparent transparent;
}
.temoignages .bleu blockquote.gauche::after {
  border-color: var(--CIEL-color) transparent transparent var(--CIEL-color);
}
.temoignages .bleu blockquote.droite::after {
  border-color: var(--CIEL-color) var(--CIEL-color) transparent transparent;
}

.temoignages .violet  blockquote {
  background-color: var(--PARME-color);
  border: 8px solid var(--VIOLET-color);
}
.temoignages .violet blockquote.gauche::before {
  border-color: var(--PARME-color) transparent transparent var(--PARME-color);
}
.temoignages .violet blockquote.droite::before {
  border-color: var(--VIOLET-color) var(--VIOLET-color) transparent transparent;
}
.temoignages .violet blockquote.gauche::after {
  border-color: var(--VIOLET-color) transparent transparent var(--VIOLET-color);
}
.temoignages .violet blockquote.droite::after {
  border-color: var(--PARME-color) var(--PARME-color) transparent transparent;
}

a#RetourEnHaut {
  border-radius: 50%;
  padding: 0.25em 0.5em;
  font-size: 1.25em;
  text-align: center;
  color: var(--BLANC-color);
  background: var(--VIOLET-color);
  border: 1px solid var(--BLANC-color);
  position: fixed;
  right: 1.5em;
  opacity: 1;
  z-index: 99999;
  transition: all ease-in 0.2s;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  text-decoration: none;
}
a#RetourEnHaut:hover,
a#RetourEnHaut:focus {
  background: var(--VIOLET-color);
  right: 1em;
  font-size: 1.5em;
  transition: all ease-in 0.2s;
  outline: 3px solid var(--VIOLET-color);
}
a#RetourEnHaut.cInvisible {
  bottom: -2.5em;
  opacity: 0;
  transition: all ease-in 0.5s;
}
a#RetourEnHaut.cVisible {
  bottom: 2.5em;
  opacity: 1;
}
div.evitement {
  display: inline-block;
  background-color: var(--LAVANDE-SWEET-color) !important;
  padding: 0.5em;
  position: absolute;
  left: -99999px;
  z-index: 2033;
}
div.evitement:focus-within {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
}
div.evitement:focus-within nav {
  position: relative;
  z-index: 2035;
}
div.evitement ul {
  list-style: none;
  display: flex;
}
div.evitement ul li {
  padding-right: 1em;
}
div.evitement ul a {
  color: var(--NOIR-color) !important;
  text-decoration: underline;
  padding: 0.25em;
}
div.evitement ul a:focus {
  outline: 3px solid var(--HARMONIE-DARK-color);
}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 2rem;
  justify-items: center;
  margin-bottom: 3rem;
}
.grid-21 {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 2rem;
  justify-items: center;
  margin-bottom: 3rem;
}
.grid-2 {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 2rem;
  justify-items: center;
  margin-bottom: 3rem;
}
[class*="grid-"] div {
  width: 100%;
  padding: 2rem 1rem 1rem 1rem;
}
[class*="grid-"].center div {
  text-align: center;
}
div.shadow {
  box-shadow: var(--SHADOW-sm);
  border-radius: 0.25rem;
}

.stars {
  position: relative;
}
.stars::before {
  --icon-size:3rem;
  background:var(--GRIS-color) ;
  display:inline-block;
  position: absolute;
  left: 1em;
  top: 1em;
  height:var(--icon-size);
  mask-size:100% 100%;
  width:var(--icon-size);
  content:"";
  mask-image: url('../images/stars.svg');
}

.stars p::after {
  --icon-size:1.5rem;
  background:var(--GRIS-color) ;
  display:inline-block;
  position: absolute;
  right: 2em;
  bottom: 1em;
  height:var(--icon-size);
  mask-size:100% 100%;
  width:var(--icon-size);
  content:"";
  mask-image: url('../images/stars.svg');
} 
.ombre-rose {
  box-shadow: var(--SHADOW-ROSE);
  border-radius: 1em;
  padding: 0 1rem 1rem 1rem;
}
.img-fluid {
  width: 100%;
  height: 100%;
}
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

a.cta {
  display: inline-block;
  background-color: var(--ROSE-CLAIR-color);
  margin: 1rem auto;
  padding: 0.15em 0.5em;
  color: var(--NOIR-color);
  font-size: 1.15rem;
  letter-spacing: 0.6px;
  outline: none;
  border-radius: 355px 45px 225px 75px/15px 225px 15px 255px;
  border: solid 7px;
  border-color: var(--VIOLET-color);
  text-transform: uppercase;
  transition: 0.3s;
  margin-bottom: 2rem;
}
a.cta:hover,
a.cta:focus,
button.cta:hover,
button.cta:focus {
  background: var(--FUSCHIA-color);
  color: var(--BLANC-color);
  text-decoration: none;
  filter: drop-shadow(0 0 0.75rem var(--VIOLET-color));
}
a.cta-ext {
  display: inline-block;
  background-color: var(--ORANGE-color);
  margin: 1rem auto;
  padding: 0.15em 0.5em;
  color: var(--NOIR-color);
  font-size: 1.15rem;
  letter-spacing: 0.6px;
  outline: none;
  border-radius: 355px 45px 225px 75px/15px 225px 15px 255px;
  border: solid 7px;
  border-color: var(--OCRE-color);
  text-transform: uppercase;
  transition: 0.3s;
  margin-bottom: 2rem;
}
a.cta-ext:hover,
a.cta-ext:focus,
button.cta-ext:hover,
button.cta-ext:focus {
  background: var(--OCRE-color);
  border-color: var(--OCRE-FONCE-color);
  text-decoration: none;
  filter: drop-shadow(0 0 0.75rem var(--ORANGE-color));
}
.fleche::after {
  --icon-size: 1.5rem;
  background-color: currentColor;
  display: inline-block;
  flex: none;
  height: var(--icon-size);
  mask-size: 100% 100%;
  vertical-align: calc(0.275em - var(--icon-size) * 0.5);
  width: var(--icon-size);
  content: "";
  margin-left: 0;
  margin-right: -0.5rem;
  mask-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCI+PHBhdGggZD0iTTE2IDEybC02IDZWNmw2IDZ6Ii8+PC9zdmc+);
}

@media screen and (min-width: 960px) {
  .grid-1a1 {
    align-items: center;
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    gap: 2em;
  }

}



#banner {
  padding: 0.25rem 0;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 30;
  height: var(--HEADER-height);
  background-color: var(--BODY-color);
  color: var(--NOIR-color);
  box-shadow: 0 0.5rem 1rem rgba(87, 87, 87, 0.55) !important; 
}
#banner div {
     display: flex;
     align-items: center;
}
#banner a.logo {
  margin: 0;
  padding: 0 0.5rem ;
  background-color: var(--BLANC-color);
}
#banner a.logo:hover,
#banner a.logo:focus {
  outline: 3px solid var(--ROSE-CLAIR-color);
}
#banner a.logo img {
  height: calc(var(--HEADER-height)/1.5);
  width: auto;
}
#navigation #hamburger {
  display: none;
}
#navigation #hamburger::before {
  --icon-size: 1.5rem;
  content: "";
  background-color: currentColor;
  display: inline-block;
  flex: none;
  height: var(--icon-size);
  -webkit-mask-image: url(data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20width=%2224%22%20height=%2224%22%3E%3Cpath%20d=%22M3%204h18v2H3V4zm0%207h18v2H3v-2zm0%207h18v2H3v-2z%22/%3E%3C/svg%3E);
  mask-image: url(data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20width=%2224%22%20height=%2224%22%3E%3Cpath%20d=%22M3%204h18v2H3V4zm0%207h18v2H3v-2zm0%207h18v2H3v-2z%22/%3E%3C/svg%3E);
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  vertical-align: calc(0.375em - var(--icon-size) * 0.75);
  width: var(--icon-size);
  margin: 0;
}
#navigation ul {
  margin: 0;
  padding: 0.25rem 0;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-end;
  list-style: none;
}

   #navigation ul li {
     text-align: center;
     padding: 0.75rem 1rem 0 1rem;
     flex: 0 0 auto;
   }
   #navigation ul li a {
     color: inherit;
     font-size: 1em;
     line-height: 1em;
     width: 100%;
     text-decoration: none;
     display: block;
     padding-bottom: 0.1em;
     white-space: nowrap;
     border-bottom: 5px solid transparent;
   }
   #navigation ul li.active a {
     border-bottom: 5px solid var(--FUSCHIA-color);
     animation: border_anim 0.8s linear forwards;
   }
   #navigation ul li a:not(.btn-contact):focus,
   #navigation ul li a:not(.btn-contact):hover {
     border-bottom: 5px solid var(--VIOLET-color);
     animation: border_anim 0.8s linear forwards;
   }
   #navigation ul li a.btn-contact:focus,
   #navigation ul li a.btn-contact:hover {
     background-color: var(--MAIN-ACCENT-color);
   }
   @keyframes border_anim {
     0% {
       width: 0%;
     }
     100% {
       width: 100%;
     }
   }
@media screen and (max-width: 1200px) {
  header.entete {
    display: none;
  }
  #banner {
    justify-content: flex-start;
    flex-direction: row-reverse;
    background-color: var(--BLANC-color);
    height: 2.5em;
  }
  #banner a.logo {
    height: 2em;
  }
  #banner a.logo img {
    height: 2em;
    width: auto;
  }
  #navigation #hamburger {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    background-color: transparent;
    border: 0;
    color: var(--BLANC-color);
    font-size: 1.2em;
    font-weight: 700;
    padding: 0.15em 0.75em 0.45em;
    cursor: pointer;
  }
  #navigation #hamburger:hover {
    background: var(--ROSE-CLAIR-color);
    color: var(--NOIR-color);
  }
  #navigation button[aria-expanded="false"]#hamburger + ul {
    display: none;
  }
  #navigation button[aria-expanded="true"]#hamburger + ul {
    display: block;
    box-shadow: none;
    background-color: var(--HEADER-background-color);
    position: absolute;
    left: 0;
    top: 2.5rem;
    margin-top: 0;
    z-index: 50;
  }
  #navigation ul {
    background-color: var(--HEADER-background-color);
    flex-direction: column;
    justify-content: flex-start;
  }
  #navigation ul li {
    text-align: left;
    border: 0;
    height: 2.5em;
  }
  #navigation ul li:not(:last-child) {
    border-bottom: 1px dotted var(--BLANC-color);
  }
  #navigation ul li a,
  #navigation ul li button {
    line-height: 1;
    padding: 0.5em;
    width: 100%;
  }
  #navigation ul li button::after {
    float: right;
    -webkit-mask-image: url(data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20width=%2224%22%20height=%2224%22%3E%3Cpath%20d=%22M13.172%2012l-4.95-4.95%201.414-1.414L16%2012l-6.364%206.364-1.414-1.414%204.95-4.95z%22/%3E%3C/svg%3E) !important;
    mask-image: url(data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20width=%2224%22%20height=%2224%22%3E%3Cpath%20d=%22M13.172%2012l-4.95-4.95%201.414-1.414L16%2012l-6.364%206.364-1.414-1.414%204.95-4.95z%22/%3E%3C/svg%3E);
  }
  #navigation ul li button[aria-expanded="true"] {
    border-bottom: 0;
  }
  #navigation ul button[aria-expanded="true"] + ul {
    display: block;
    position: absolute;
    left: 100%;
    margin-top: -1.5em;
    width: max-content;
    background-color: var(--POUDRE-color);
  }
  #navigation ul button[aria-expanded="true"] + ul li:first-of-type {
    margin-top: 0;
  }
  #navigation button[aria-expanded="true"] + ul li ul li:not(:last-child) {
    border-bottom: 1px dotted var(--MAIN-color);
  }
  #navigation ul button[aria-expanded="true"] + ul li {
    border: 0;
  }
  footer[role="contentinfo"] .pied {
    flex-direction: column;
    align-items: center;
  }
  footer[role="contentinfo"] .pied p:last-of-type {
    margin-top: 1em;
  }
}
main[role="main"] {
  background-color: var(--BODY-color);
  padding-bottom: calc(var(--MARGIN-cadratin) * 5);

}

main ol {
  padding-left: 2rem;
}
main ol li {
  margin-left: 2em;
}
main ul {
  list-style: none;
  margin-bottom: 1.5rem;
}
main ul li {
  margin-bottom: 1em;
  margin-left: 1rem;
}
main ul li::before {
  content: "";
  --icon-size: 0.75rem;
  margin-right: 0.25rem;
  margin-left: -1rem;
  background-color: currentColor;
  display: inline-block;
  flex: 0 0 auto;
  height: var(--icon-size);
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  vertical-align: calc((.75em - var(--icon-size))*.5);
  width: var(--icon-size);
  mask-image: url('../images/star.svg');
}
main img {
  padding: 1rem 0;
}
q {
  display: block;
  font-size: 150%;
  line-height: 1.5;
  position: relative;
  margin: 3rem auto;
  padding: 0 4rem;
  font-style: italic;
  font-weight: bold;
  color: var(--GRIS-color);
  text-shadow: var(--TEXT-SHADOW);
  
  &:before {
    content: "\f10d";
    font-family: 'Fontawesome';
    position: absolute;
    top: -1rem;
    left: 0;
    font-size: 200%;
    font-style: normal;
  }
  &:after {
    content: "\f10e";
    font-family: 'Fontawesome';
    position: absolute;
    bottom: -1rem;
    right: 0;
    font-size: 200%;
    font-style: normal;
  }
}
img.schema {
  border-radius: 55px 160px;
  padding: 0 !important;
  box-shadow: var(--SHADOW-VIOLET);
  margin-bottom: 2rem;
}
table {
  width: 100%;
  border-collapse:collapse;
}
caption {
  caption-side: bottom;
  padding: 10px;
color: var(--GRIS-color)
}
table th {
  font-size: 120%;
  padding: 0;
}

table td {
  padding: 0.25rem 1rem;
  border-bottom: 2px solid var(--BODY-color);
  border-left: 5px solid var(--BODY-color);
}
table thead th {
  text-align: left;
  border-left: 5px solid var(--BODY-color);
  vertical-align: bottom;
}
table thead th span:first-child {
  padding: 1em 1em 0 1em;
  font-size: 110%;;
}
table thead th span:last-child{
  float: right;
  padding: 0.5em 1em;
  border-radius: 0.75rem 0.75rem 0 0;
}
table tbody th {
  text-align: right;
  padding: 0.5rem;
  border-bottom: 2px solid var(--BODY-color)
}

table thead th:nth-child(2) span:last-child,
table tr td:nth-child(2)  {
  background-color: var(--VIOLET-color) ;
  color: var(--BODY-color)
}
table thead th:nth-child(3) span:last-child,
table tr td:nth-child(3)  {
  background-color: var(--VERT-FONCE-color) ;
  color: var(--NOIR-color)
}
table thead th:nth-child(4) span:last-child,
table tr td:nth-child(4)  {
  background-color: var(--ROSE-CLAIR-color) ;
  color: var(--NOIR-color)
}
table tbody tr:first-child td {
  border-radius: 0.75rem 0 0 0 ;
}
table tbody tr:last-child td {
  border-radius: 0 0  0.75rem  0.75rem ;
  font-weight: bold;
}
.bandeau-accueil {
  background:  var(--POUDRE-color) url(../images/pixel-joie.png) no-repeat;
  background-position: 0 30%;
}
.hero {
  height: 40%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.hero .animate-left {
  text-align: right;
}
.hero h1{ 
  width: 70%;
  margin: 0;
  font-family: var(--FONT-FAMILY-serif);
  text-align: center;
  font-size: 2rem;
}
.hero span {
  display: block;
}
.idee {
  background:  url(../images/pixel-idee.png) no-repeat;
  background-position: 100% 100%;
}
.gras {
  font-weight: bold;
}
.text-shadow {
  text-shadow: var(--TEXT-SHADOW);
}

p.cta {
  display: inline-block;
  background-color: var(--ROSE-CLAIR-color);
  margin: 1rem auto;
  padding: 0.15em 0.5em;
  color: var(--VIOLET-color) ;
  font-size: 1.15rem;
  letter-spacing: 0.6px;
  outline: none;
  border-radius: 355px 45px 225px 75px/15px 225px 15px 255px;
  border: solid 7px;
  border-top-color: currentcolor;
  border-right-color: currentcolor;
  border-bottom-color: currentcolor;
  border-left-color: currentcolor;
  text-transform: uppercase;
  transition: 0.3s;
  margin-bottom: 2rem;
}
p.cta a {
  color: var(--NOIR-color);
}
p.cta a:hover {
  text-decoration: none;
}
p.cta:hover {
  transform: scale(1.1);
}
.bloc {
  /* box-shadow: 10px 10px 0px 0px rgba(153, 153, 153, 0.33); */
  border-radius: 55px 160px;
  padding: 3rem !important;
  border: 0;
  margin-bottom: 2rem;
}

.taches {
  background: url(../images/taches.png) no-repeat;
}
.taches2 {
  background: url(../images/taches2.png) no-repeat;
}
.haut-droite {
  background-position: 100% 25%;
}
.haut-droite2 {
  background-position: 100% 5%;
}
.haut-gauche {
  background-position: 5% 5%;
}
.bas-gauche {
  background-position: 0 100%;
}
.fond-peche {
  background-color: var(--PECHE-color);
  color: var(--NOIR-color);
}
.fond-poudre {
  background-color: var(--POUDRE-color);
  color: var(--NOIR-color);
}
.fond-rose-clair {
  background-color: var(--ROSE-CLAIR-color);
  color: var(--NOIR-color);
}
.fond-rose {
  background-color: var(--ROSE-color);
  color: var(--NOIR-color);
}
.fond-mauve {
  background-color: var(--MAUVE-color);
  color: var(--NOIR-color);
}
.fond-fuschia {
  background-color: var(--FUSCHIA-color);
  color: var(--BLANC-color);
  box-shadow: var(--SHADOW-FUSCHIA);
}
.fond-violet {
  background-color: var(--VIOLET-color);
  color: var(--BLANC-color);
  box-shadow: var(--SHADOW-VIOLET);
}
.fond-orange {
  background-color: var(--ORANGE-color);
  color: var(--NOIR-color);
  box-shadow: var(--SHADOW-ORANGE);
}
.fond-vert-citron {
  background-color: var(--VERT-CITRON-color);
  color: var(--NOIR-color);
}
.fond-vert-gazon {
  background-color: var(--VERT-GAZON-color);
  color: var(--NOIR-color);
}
[class*=fond-] h3{
  font-size: 1.5rem;
  color: currentColor;
  margin: 0;
  text-align: center;
  text-shadow: none;
}
.wahou {
  padding: 3em 0;
  text-align: center;
  font-weight: bold;
  font-size: 120%;
  color: var(--GRIS-color);
}
.wahou p:first-child {
  font-size: 200%;
 text-shadow: var(--TEXT-SHADOW);
  font-family: var(--FONT-FAMILY-serif);
}

.cloud {
  margin-bottom: -0.5rem;
}
.cloudbas {
  transform: rotate(180deg);
}
svg.peche {
  fill: var(--PECHE-color);
}
svg.poudre {
  fill: var(--POUDRE-color);
}
svg.rose-clair {
  fill: var(--ROSE-CLAIR-color);
}
svg.rose {
  fill: var(--ROSE-color);
}
svg.mauve {
  fill: var(--MAUVE-color);
}
svg.vert {
  fill: var(--VERT-color);
}

.ariane {
  padding: 0.5em 1em;
  background: var(--ARIANE-background-color);
  color: var(--ARIANE-TEXT-color);
}
.ariane ol {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 0.95rem;
}
.ariane li {
  line-height: 1.75rem;
}
.ariane li:not(:first-child)::before {
  --icon-size: 1rem;
  background-color: var(--ARIANE-TEXT-color);
  content: "";
  display: inline-block;
  flex: none;
  height: var(--icon-size);
  margin-left: 0.25rem;
  margin-right: 0;
  -webkit-mask-image: url(data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20width=%2224%22%20height=%2224%22%3E%3Cpath%20d=%22M13.172%2012l-4.95-4.95%201.414-1.414L16%2012l-6.364%206.364-1.414-1.414%204.95-4.95z%22/%3E%3C/svg%3E);
  mask-image: url(data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20width=%2224%22%20height=%2224%22%3E%3Cpath%20d=%22M13.172%2012l-4.95-4.95%201.414-1.414L16%2012l-6.364%206.364-1.414-1.414%204.95-4.95z%22/%3E%3C/svg%3E);
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  vertical-align: calc(0.325rem - var(--icon-size) * 0.5);
  width: var(--icon-size);
}
.ariane a {
  text-decoration: none;
  color: var(--link-color);
}
.ariane a:hover,
.ariane a:focus {
  text-decoration: underline;
}
.ariane a[aria-current="page"] {
  color: var(--link-page-color);
  text-decoration: none;
  font-weight: 700;
}
.animate-top {
  position: relative;
  animation: animatetop 0.8s;
}
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
.hero .animate-bottom {
  position: relative;
  text-align: center;
  animation: animatebottom 0.8s;
}
@keyframes animatebottom {
  from {
    bottom: -300px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}
.hero .animate-left {
  position: relative;
  animation: animateleft 0.8s;
}
@keyframes animateleft {
  from {
    left: -100vw;
    opacity: 0;
  }
  to {
    left: 0;
    opacity: 1;
  }
}
.active .animate-right,
.hero .animate-right{
  position: relative;
  animation: animateright 0.8s;
}
@keyframes animateright {
  from {
    right: -100vw;
    opacity: 0;
  }
  to {
    right: 0;
    opacity: 1;
  }
}
.active .animate-zoom {
  animation: animatezoom 0.6s;
}
@keyframes animatezoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
.active .animate-fading,
.animate-fade {
  animation: fading 3s;
}
@keyframes fading {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.blk-5 {
  display: block;
  margin-bottom: 5em;
}
@media screen and (min-width: 1400px) {
  :root {
    --CARD-width: 377px;
    --CARD-height: 300px;
  }
}

footer[role="contentinfo"] {
  display: block;
  background-color: var(--ROSE-color);
  color: var(--BLANC-color) ;
  margin: 0;
  padding: 2em 0 0;
  text-align: left;
  background: var(--ROSE-color) url('../images/pixel-ballon.png') center right no-repeat;
}

footer[role="contentinfo"] .flexible {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 3em 1rem;
  margin-bottom: 3em;
}
footer[role="contentinfo"] .flexible div {
  flex: 0 0 30%;
  padding-right: var(--MARGIN-cadratin);
  padding-left: var(--MARGIN-cadratin);
}
.logo-footer {
  display: block;
  max-height: 200px;
  max-width: 200px;
  margin-left: 10%;;
  background-color: var(--BLANC-color);
  border-radius: 50%;
  padding: 1rem;
}
.logo-footer img {
  height: 60px;
  width: auto;
}
footer[role="contentinfo"] ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
footer[role="contentinfo"] ul.direct {
  display: flex;
  flex-direction: column;
}
footer[role="contentinfo"] ul.direct li {
  padding: 0.5em 0;
}
footer[role="contentinfo"] ul.direct li img {
  height: 0.9em;
  padding-right: 0.25em;
}
.mail::before {
  --icon-size:1rem;
  background-color:var(--BLANC-color);
  display:inline-block;
  flex:none;
  height:var(--icon-size);
  mask-size:100% 100%;
  vertical-align:calc(.375em - var(--icon-size) * .5);
  width:var(--icon-size);
  content:"";
  margin-right:0.255rem;
  margin-left: -1.25rem;
  mask-image: url('../images/square-envelope-solid.svg');
}
.phone::before {
  --icon-size:1rem;
  background-color:var(--BLANC-color);
  display:inline-block;
  flex:none;
  height:var(--icon-size);
  mask-size:100% 100%;
  vertical-align:calc(.375em - var(--icon-size) * .5);
  width:var(--icon-size);
  content:"";
  margin-right:0.255rem;
  margin-left: -1.25rem;
  mask-image: url('../images/square-phone-solid.svg');
}
.fb::before {
  --icon-size:1rem;
  background-color:var(--BLANC-color);
  display:inline-block;
  flex:none;
  height:var(--icon-size);
  mask-size:100% 100%;
  vertical-align:calc(.375em - var(--icon-size) * .5);
  width:var(--icon-size);
  content:"";
  margin-right:0.255rem;
  margin-left: -1.25rem;
  mask-image: url('../images/square-facebook-brands-solid.svg');
}
.insta::before {
     --icon-size:1rem;
     background-color:var(--BLANC-color);
     display:inline-block;
     flex:none;
     height:var(--icon-size);
     mask-size:100% 100%;
     vertical-align:calc(.375em - var(--icon-size) * .5);
     width:var(--icon-size);
     content:"";
     margin-right:0.255rem;
     margin-left: -1.25rem;
     mask-image: url('../images/instagram-brands-solid.svg');
}



footer[role="contentinfo"] a {
  color: var(--BLANC-color);
  font-weight: 400;
  border: 0;
}
footer[role="contentinfo"] .pied {
  background-color: var(--VIOLET-color);
  color: var(--BLANC-color) !important;
  padding: 1em 1em 0.1em;
  display: flex;
  justify-content: space-between;
}
footer[role="contentinfo"] .pied p {
  flex: 0 0 33%;
  font-family: var(--FONT-FAMILY-sans-serif);
  font-size: 0.8em;
  line-height: 1;
  
}
footer[role="contentinfo"] .pied *:nth-child(1) {
  text-align: left;
}
footer[role="contentinfo"] .pied *:nth-child(2) {
  text-align: center;
}
footer[role="contentinfo"] .pied *:nth-child(3) {
  text-align: right;
}
footer[role="contentinfo"] .pied p span {

  border-radius: 50%;
  font-size: 0.75em;
  padding: 0.1em 0.2em;
}
footer[role="contentinfo"] .pied ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
}
footer[role="contentinfo"] .pied ul li {
  padding: 0;
  font-size: 0.9em;
  line-height: 1.5;
  margin-bottom: 1.5em;
}
footer[role="contentinfo"] .pied ul li a {
  border-right: 1px solid var(--BLANC-color);
  padding: 0 0.5em;
  color: var(--BLANC-color)
}
footer[role="contentinfo"] .pied ul li:last-child a {
  padding: 0 0.5em;
}
button.like-link {
  border: 0;
  background: 0 0;
  color: var(--BLANC-color);
  font-family: var(--FONT-FAMILY-sans-serif);
  cursor: pointer;
  margin: 0;
  padding: 0;
}
button:hover.like-link,
.pied a:hover,
button:focus.like-link,
.pied a:focus {
  text-decoration: underline;
}
.social-links {
  margin-top: 1em;
  margin-left: -1.25rem;
}
.social-links p {
     font-weight: bold;
}
.social-links ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
footer .social-links ul,
.debut .social-links ul {
  justify-content: flex-start;
}
.debut .social-links ul {
  margin-left: 1.5em;
}
.social-links ul li::before {
  content: "";
}
.social-links ul li {
  padding-left: 0.5em;
}
.social-links a {
  display: inline-block;
  line-height: 1;
  margin-right: 1em;
  width: 36px;
  height: 36px;
  transition: 0.3s;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.social-links span[class*="fa-"] {
  padding-right: 0;
}
.social-links a:hover,
.social-links a:focus {
  outline: 3px solid var(--VIOLET-color);
  text-decoration: none;
} 
dt {
     font-weight: bold;
     margin-top: 2rem;
}
.reseaux-sociaux p {
     margin-top: 2rem;
     font-weight: bold;
}
.reseaux-sociaux ul {
     list-style: none;
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
    
}
.reseaux-sociaux li::before {
    visibility: hidden;
}
.reseaux-sociaux svg {
    height: 3rem;
    width: 3rem;
 }
 .reseaux-sociaux a:hover, 
 .reseaux-sociaux a:focus {

     text-decoration: none;
   }
.mentionsleg h2,
.mentionsleg h3 {
     text-align: left;    
}
.mentionsleg h2 {
     font-size: 150%;
}
.mentionsleg h3 {
     font-size: 110%;
}
.mentionsleg h2:before {
     content: counter(h2) ". ";
     counter-increment: h2;
   }
@media screen and (max-width: 1024px) {
  :root {
    --MARGIN-x: 5%;
  }
  .flex.flex-centre {
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 992px) {
  .text-schema img {
    max-width: 990px;
  }
  footer[role="contentinfo"] .flexible div.first-col {
    grid-template-columns: auto;
  }
  .hero .animate-top {
    padding-top: 50px !important;
  }
}
@media screen and (max-width: 768px) {
  .flexGite {
    grid-template-columns: 1fr;
  }
  .text-schema img {
    max-width: 760px;
  }
  h2 {
    font-size: 2em;
    text-align: left;
    padding-left: 1em;
  }
  .flex {
    flex-direction: column;
    align-items: flex-start;
  }
  footer[role="contentinfo"] .flexible {
    flex-direction: column;
    gap: 2em;
  }
  footer[role="contentinfo"] .flexible div.first-col {
    grid-template-columns: auto auto;
  }
  footer[role="contentinfo"] .logo-court {
    max-width: 120px;
    max-height: 100%;
  }
  footer[role="contentinfo"] #contact p:first-of-type {
    font-size: 3em;
    padding: 1em;
  }
  footer[role="contentinfo"] #contact p {
    line-height: 1;
    padding: 0 1em;
  }
  .text-schema img {
    max-width: 760px;
  }
  .hero {
    justify-content: center;
  }
  .hero h1 {
    font-size: 2.5em;
    margin: 0;
    padding: 0;
  }
  .hero h2,
  .hero h2 span {
    font-size: 1.5em;
    text-align: center;
    margin: 0;
  }
  .social-links {
    margin: 0;
  }
  .hero p {
    font-size: 150%;
    margin: 0 0.5em 0.5em;
  }
  h2 {
    padding-left: 0.5em;
  }
  .grid2col {
    grid-template-columns: 1fr;
  }
  .social-links {
    margin-top: 1em;
  }
}
@media screen and (max-width: 576px) {
  .hero .animate-top {
    padding-top: 50px !important;
  }
  .hero h1,
  h1 {
    font-size: 2em;
  }
  .hero .animate-top p {
    font-size: 1.25em;
  }
  h2 {
    font-size: 1.5em;
    padding: 0;
  }
}
@media screen and (max-width: 420px) {
  
  footer[role="contentinfo"] ul.direct {
    flex-direction: column;
  }
}
.vignette {
  display: none;
  animation: fadeIn 3s ease;
}
.show {
  display: block;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0.5, 0.005);
  }
  50% {
    opacity: 1;
    transform: scale(1, 1);
  }
}

